<div class="main">
  <div class="container">
    <app-header></app-header>

    <div class="workspace-chat-thread">

      <div class="workspace" [@displayWorkspaceTrigger]="displayWorkspace">
        <app-workspace></app-workspace>
      </div>

      <div class="chat">
        <app-channelchat></app-channelchat>
      </div>

      <div class="thread">
        <app-channelthread></app-channelthread>
      </div>
    </div>

  </div>
  <div class="workspace-menu" (click)="showHideWorkspace()">
    <div class="workspace-menu-text"></div>
    <p>Workspace-Menü schließen</p>
    <img src="../../../assets/images/displayWorkspace.png" alt="">
  </div>
</div>