.d-none {
  display: none;
}

.main-container{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.close-emoji-picker {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 999;
}
.main {
  position: relative;
}
.container {
  position: relative;
}
.workspace-chat-thread {
  margin-left: 45px;
  margin-right: 45px;
  width: calc(100% - 90px);
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1920px;
  gap: 10px;
  // z-index: 1;
}
.workspace {
  width: 20vw;
  border-radius: 30px;
  padding: 32px 30px 32px 30px;
  background-color: rgb(255, 255, 255);
  height: calc(80vh - 40px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.workspace-menu {
  position: absolute;
  width: max-content;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  top: 50vh;
  transform: rotate(-180deg);
  padding: 1% 0.5%;
  box-shadow: -6px -6px 6px grey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  p {
    writing-mode: vertical-lr;
  }

  .workspace-menu-icon {
    transform: rotate(-180deg);
  }

  &:hover {
    color: #565bf4;
    cursor: pointer;

    .workspace-menu-icon {
      filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
        saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
    }
  }
}

.chat {
  background-color: rgba(255, 255, 255, 1);
  width: 50vw;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  height: calc(80vh + 20px);
}

.thread {
  width: 30vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  position: relative;
  height: calc(80vh + 20px);
}

.header-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

@media screen and (max-width: 1450px) {
  .chat {
    width: 60vw;
  }
}

@media screen and (max-width: 1300px){
  .thread {
    width: 60vw;
  }
}

@media screen and (max-width: 1250px) {
  .workspace {
    width: 250px;
  }
}

@media (max-width: 850px) {
  .workspace {
    width: 90vw;
    height: calc(100vh - 190px);
  }

  .chat {
    width: 90vw;
    height: calc(100vh - 100px);
  }

  .thread {
    width: 90vw;
    height: calc(100vh - 100px);
  }

  .workspace-chat-thread {
    margin-left: 0px;
    margin-right: 0px;
    width: 90vw;
    height: calc(100vh - 100px);
  }
}
