$wct-height: calc(100vh - 20vh);

.main {
  position: relative;
}

.container {
  position: relative;
}

.header {
  height: 15vh;
  width: calc(100vw - 90px);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
}

.workspace-chat-thread {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.workspace {
  height: 100%;
  width: calc(15vw - 2px);
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
}

.chat {
  height: $wct-height;
  width: calc(60vw - 2px);
  border: 1px solid black;
}

.chat-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.chat-images {
  position: relative;
  img {
    height: 42px;
    position: absolute;
  }
  img:nth-child(1) {
    right: 60px;
  }
  img:nth-child(2) {
    right: 30px;
  }
  img:nth-child(3) {
    right: 0;
    top: 0;
  }
}

.thread {
  height: $wct-height;
  width: calc(20vw - 2px);
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border-radius: 42px;
  height: 68px;
  input {
    height: 66px;
    width: 100%;
    border: none;
    border-radius: 42px;
  }
  img {
    height: 35px;
    width: 35px;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    cursor: pointer;
  }
}
