<div class="main">
  <div class="container">
    <div class="header">
      <div><img src="./../assets/images/dabubble-logo.png" alt=""></div>
      <div class="search-input"><input type="text" name="" id=""><img src="./../assets/images/search.png" alt=""></div>
      <div class="profile">
        <span>Frederik Beck</span>
        <img src="./../assets/images/avatar.png" alt="">
        <img [matMenuTriggerFor]="profilMenu" src="./../assets/images/arrow_down.png" alt="">
        <mat-menu #profilMenu="matMenu" class="profile-menu">
          <button mat-menu-item>Profil</button>
          <button mat-menu-item>Log out</button>
        </mat-menu>
      </div>
    </div>

    <div class="workspace-chat-thread">

      <div class="workspace">
        <!-- Wollt ihr die Sachen in die <app-workspace>, oder soll es hier bleiben? -->
        <div class="workspace-header">
          <img src="../assets/images/workspaceLogo.svg" alt="">
          <div>Devspace</div>
          <img src="../assets/images/editSquare.svg" alt="">
        </div>


        <div class="workspace-channels">
          <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
          <div class="channels">
            <img src="../assets/images/workspaces.svg" alt="">
            <div>channels</div>
          </div>
          <img (click)="openCreateChannelDialog()" src="../assets/images/add.svg" alt="" class="channels-add">
        </div>

        <div class="">
          <div class="direct-messages">
            <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
            <img src="../assets/images/accountCircle.svg" alt="">
            <div>Direktnachrichten</div>
          </div>
          <div class="users">
            <div class="user">
              <img src="../../../assets/images/avatar.png" alt="">
              <div>Name1</div>
            </div>
            <div class="user">
              <img src="../../../assets/images/avatar.png" alt="">
              <div>Name2</div>
            </div>
            <div class="user">
              <img src="../../../assets/images/avatar.png" alt="">
              <div>Name3</div>
            </div>
          </div>
        </div>
      </div>


      <div class="chat">
        <!-- Sollen die Komponenten "emptychat"/"channelchat" usw. in einen Ordner, oder soll jede ihren eigenen Ordner erhalten? -->
        <div class="chat-header">
          <div># Entwicklerteam</div>
          <div>
            <div class="chat-images">
              <img src="../../../assets/images/avatar.png" alt="">
              <img src="../../../assets/images/avatar.png" alt="">
              <img src="../../../assets/images/avatar.png" alt="">
            </div>
            <img src="../../../assets/images/addMemberButton.png" alt="">
          </div>
        </div>
      </div>

      <div class="thread">
        <!-- Wie beim chat: Alle Komponnten in einen Ordner, oder nicht? -->
      </div>
    </div>

  </div>
</div>