<div (click)="closeEmojiPicker()" *ngIf="emojiPicker" class="close-emoji-picker"></div>
<div (click)="closeAssociatedUser()" *ngIf="associatedUser" class="close-emoji-picker"></div>
<div class="main">
  <div class="container">
    <app-header (userDetails)="openChat($event)" (channelDetails)="channelInformaion($event)" class="header-container"></app-header>
    <div class="main-container">
      <div class="workspace-chat-thread">

        <div *ngIf="firestoreService.displayWorkspace" class="workspace" [@displayWorkspaceTrigger]="firestoreService.displayWorkspace">
          <app-workspace (userDetails)="openChat($event)" (disyplayEmptyChat)="openEmptyChat()"
            [channelDetails]="channelDetails" />
        </div>

        <div *ngIf="channelService.showChannelChat" class="chat">
          <app-channelchat />
        </div>

        <div *ngIf="chatService.showEmptyChat" class="chat">
          <app-emptychat />
        </div>

        <div *ngIf="chatService.showOwnChat" class="chat">
          <app-ownchat [userDetails]="userDetails" />
        </div>

        <div *ngIf="threadService.displayThread" class="thread">
          <app-thread />
        </div>

        <div *ngIf="showThreadWindow" class="thread">
          <app-channelthread></app-channelthread>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="firestoreService.isScreenWide" class="workspace-menu" (click)="showHideWorkspace()">
    <div class="workspace-menu-text"></div>
    <p><b>Workspace-Menü schließen</b></p>
    <img class="workspace-menu-icon" src="../../../assets/images/displayWorkspace.png" alt="">
  </div>
</div>
