$wct-height: calc(100vh - 20vh);

.main {
  position: relative;
}

.container {
  position: relative;
}

.workspace-chat-thread {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.workspace {
  height: 100%;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  height: $wct-height;
}

.workspace-menu {
  position: absolute;
  width: max-content;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  bottom: 10%;
  transform: rotate(180deg);
  padding: 1% 0.5%;
  box-shadow: -6px -6px 6px grey;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  p {
    writing-mode: vertical-lr;
  }
  img {
    transform: rotate(180deg);
  }
}

.chat {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  width: auto;
  height: $wct-height;
  border: 1px solid black;
  border-radius: 30px;
}

.thread {
  height: $wct-height;
  width: calc(20vw - 2px);
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 30px;
}