<div class="header">
    <div><img src="./../assets/images/dabubble-logo.png" alt=""></div>
    <div class="search-input">
      <input class="serach-bar" type="text" placeholder="Code learning durchsuchen" id="">
      <button class="search-button">
        <img src="./../assets/images/search.png">
      </button>
    </div>
    <div class="profile">
      <span>{{ userName }}</span>
      <div *ngIf="userIsVerified">
        <img title="Konto verifiziert" class="user-verified" src="./../../assets/images/verified-user.png">
      </div>
      <img class="avatar-icon" src="{{ userPhoto }}" alt="">
      <img class="open-dialog" [matMenuTriggerFor]="profilMenu" src="./../assets/images/arrow_down.png" alt="">
      <mat-menu #profilMenu="matMenu" class="profile-menu">
        <button *ngIf="!guestLogIn" mat-menu-item (click)="openProfileDialog()">Profil</button>
        <button (click)="logOut()" mat-menu-item>Log out</button>
      </mat-menu>
    </div>
</div>
