.header {
  position: relative;
  height: 15vh;
  width: calc(100vw - 90px);
  // overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  max-width: 1920px;
}

.search-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 68px;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 42px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .serach-bar {
    width: 100%;
    height: 56px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: white;
  }

  .search-button {
    background-color: white;
    border: none;
    cursor: pointer;

    &:hover {
      img {
        filter: brightness(0.6);
      }
    }

    img {
      height: 35px;
      width: 35px;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 16px;
  }

  .user-verified {
    height: 20px;
    width: auto;
    transform: scale(1.1);
    animation: verified-logo 1.5s ease-in-out infinite;
    cursor: pointer;
  }

  .avatar-icon {
    height: 60px;
    width: 60px;
    border-radius: 100%;
  }

  .open-dialog {
    &:hover {
      cursor: pointer;
      filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
        saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
    }
  }
}

.user-icon-circle {
  position: relative;
}

.active-circle {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  right: 7.5px;
  bottom: 5.5px;

  select {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
  }
}

.active {
  background-color: green;
}

.away,
.simpleaway {
  background-color: yellow;
}

.busy {
  background-color: red;
}

.offline {
  background-color: grey;
}

.cdk-overlay-pane {
  margin-top: 30px !important;
}

.mat-mdc-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: 0;
  border-radius: var(--mat-menu-container-shape);
  background-color: var(--mat-menu-container-color);
  will-change: transform, opacity;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 30px !important;
  width: 200px;
  display: flex;
  justify-content: center;
}

.mat-mdc-menu-item-text {
  text-align: center !important;
}

.mat-mdc-menu-item {
  width: calc(100% - 40px) !important;
  border-radius: 40px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:hover {
    background-color: rgb(236, 238, 254) !important;
    color: rgb(83, 90, 241) !important;
  }
}

::ng-deep .cdk-overlay-pane {
  margin-top: 30px !important;
}

::ng-deep .mat-mdc-menu-panel {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 30px !important;
  width: 200px;
  display: flex;
  justify-content: center;
}

::ng-deep .mat-mdc-menu-item-text {
  text-align: center !important;
}

::ng-deep .mat-mdc-menu-item {
  width: calc(100% - 40px) !important;
  border-radius: 40px !important;
  margin-left: 20px !important;
  margin-right: 20px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:hover {
    background-color: rgb(236, 238, 254) !important;
    color: rgb(83, 90, 241) !important;
  }
}

@keyframes verified-logo {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.dropdown-menu {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 90%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  /* Custom Scrollbar for WebKit browsers */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Custom Scrollbar for Firefox */
  scrollbar-width: thin;
  scrollbar-color: lightgrey #eceefe;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
  }
}

.user-photo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  .at-symbol {
    font-size: 20px;
    padding-left: 5px;
  }
}

.dropdown-item:hover {
  background: #f1f1f1;
}

.mobile-header-menu {
  display: flex;
  align-items: center;
  gap: 5px;

  .back-to-workspace-button {
    margin-right: 10px;
    border: none;
    background-color: transparent;

    img {
      height: 20px;
      width: auto
    }

    &:hover {
      cursor: pointer;

      img {
        filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
          saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
      }
    }
  }
}

.logo-devspace {
  display: flex;
  gap: 10px;
  align-items: center;
  > span {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 1350px) {

  .da-bubble-logo {
    height: 45px;
    width: auto;
  }

  .search-input {
    width: 40%;
    height: 68px;

    .serach-bar {
      width: 100%;
      height: 56px;
      font-size: 22px;
    }
  }
}

@media (max-width: 1150px) {
  .search-input {

    .serach-bar {
      font-size: 18px;
    }
  }

  .profile {

    span {
      font-size: 14px;
    }

    .user-verified {
      height: 20px;
      width: auto;
    }

    .avatar-icon {
      height: 50px;
      width: 50px;
    }
  }

  .active-circle {
    height: 10px;
    width: 10px;
    right: 7.5px;
    bottom: 7.5px;

    select {
      top: -5px;
      left: -5px;
      height: 20px;
      width: 20px;
    }
  }
}

@media (max-width: 1050px) {
  .search-input {
    height: 60px;

    .serach-bar {
     height: 50px;

    }
  }

  .search-button {

    img {
      height: 30px !important;
      width: auto !important;
    }
  }
}

@media (max-width: 950px) {

  .da-bubble-logo {
    height: 35px;
    width: auto;
  }

  .search-input {
    height: 50px;

    .serach-bar {
     height: 40px;
     font-size: 14px;
    }
  }

  .search-button {

    img {
      height: 25px !important;
    }
  }
}

@keyframes slideUp {
  from {
      transform: translateY(300px);
  }
  to {
      transform: translateY(0px);
  }
}

@media (max-width: 850px) {
  .search-input {
    display: none;
  }

  .user-name {
    display: none;
  }

  .open-dialog {
    display: none;
  }

  .header {
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100vw - 40px);
  }

  .da-bubble-logo {
    height: 45px;
    width: 161.5px;
    margin-left: 40px;
  }

  .avatar-icon {
    height: 50px !important;
    width: 50px !important;
    margin-right: 40px;
  }

  .active-circle {
    margin-right: 40px;
  }

  .cdk-overlay-connected-position-bounding-box {
    justify-content: flex-end !important;
    right: 0 !important;
    width: 100vw !important;
  }

  .mat-mdc-menu-panel {
    width: 100vw !important;
    max-width: 100vw !important;
    border-radius: 30px 30px 0px 0px !important;
  }

  .cdk-overlay-pane {
    bottom: 0px;
    height: fit-content;
    top: unset !important;
    animation: slideUp 0.5s ease-in-out forwards;
  }

  .mat-mdc-menu-item-text {
    text-align: left !important;
  }

  .mobile-menu-line {
    width: calc(100vw - 52px);
    display: flex;
    justify-content: center;
  }

  .mat-mdc-menu-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 26px 30px 26px !important;
  }

  .mat-mdc-menu-item {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: fit-content !important;
    padding: 10px 30px 10px 30px !important;
  }
}

@media (max-width: 450px) {

  .da-bubble-logo {
    height: 35px;
    width: auto;
    margin-left: 20px;
  }

  .avatar-icon {
    height: 40px !important;
    width: 40px !important;
    margin-right: 20px;
  }

  .active-circle {
    margin-right: 20px;
    height: 8px;
    width: 8px;
  }

  .user-verified {
    display: none;
  }
}

@media (max-width: 380px) {

  .da-bubble-logo {
    margin-left: 10px;
  }

  .avatar-icon {
    margin-right: 10px;
  }

  .active-circle {
    margin-right: 10px;
  }
}
