<div class="forgot-password-card-container">

  <div class="forgot-password-card">

    <div class="card-header-section">
      <button class="back-to-log-in-button" (click)="backToLogIn()">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Passwort zurücksetzten</h1>
      <span>Bitte geben sie Ihre E-Mail-Adresse ein.</span>
    </div>

    <form (ngSubmit)="sendMail(forgotPasswordForm)" #forgotPasswordForm="ngForm">
      <div class="card-input-section">
        <div class="input-container">
          <img src="./../../../assets/images/mail.svg">
          <input ngModel required name="email" #email="ngModel" placeholder="MaxMustermann@gmail.com">
        </div>
        <div class="pseudo">
          <span *ngIf="showInputInformationEmailInputEmpty" class="input-information">Bitte geb eine E-Mail-Adresse an.</span>
          <span *ngIf="showInputInformationEmailInputInvalid" class="input-information">Diese E-Mail-Adresse ist leider ungultig.</span>
        </div>

        <span>Wir senden Ihnen eine E-Mail, über die <br> Sie Ihr Passwort ändern können.</span>
      </div>

      <div class="continue-button-container">
        <button type="submit" class="continue-button">E-Mail senden</button>
      </div>
    </form>

  </div>

</div>

