<div class="log-in-card-container">

  <div class="log-in-card">

    <div *ngIf="loadingScreen" class="loading-screen">
      <mat-spinner></mat-spinner>
    </div>

    <div class="card-header-section">
      <button class="back-to-log-in-button" (click)="backToSignUp()">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Wähle deinen Avatar</h1>
    </div>

    <div class="chosen-avatar">
      <img *ngIf="!imageSelected" class="user-icon" id="userIcon" src="./../../../assets/images/Property 1=Default (8).png">
      <img *ngIf="imageSelected" class="user-icon" id="profile-picture-preview" [src]="imageSrc" alt="Ihr Bild" style=" height: 168px; width: 168px; border-radius: 100%;"/>
      <!-- <h1>{{ userName }}</h1> -->
      <h1>Lars Thönnes</h1>
    </div>

    <div class="choose-avatar-list">
      <span>Aus der Liste wählen</span>
      <div class="pseudo">
        <span class="input-information" *ngIf="showInputInformationUserIcon">Bitte wähle ein Icon.</span>
       </div>
      <div class="avatar-list" >
        <div class="avatar-list">
          <div *ngFor="let img of avatar; let i = index" class="avatar-item" [id]="'avatar-' + i" (click)="chooseAvatar(i)">
            <img [src]="img">
          </div>
        </div>
      </div>

      <div class="upload-custom-image">
        <span> Eigenes Bild verwenden</span>
        <label class="choose-image-label" for="profile-picture-input">
          Datei hochladen
          <input class="choose-image-input" type="file" name="profile-picture" accept="image/*" id="profile-picture-input" (change)="onImageSelected($event)">
        </label>
      </div>

    </div>

    <div class="continue-button-container">
     <div>
      <button (click)="createAccount()" class="continue-button">Weiter</button>
     </div>
    </div>

  </div>

</div>
