<div class="log-in-card-container">

  <div class="log-in-card">

    <div class="card-header-section">
      <button class="back-to-log-in-button" (click)="backToSignUp()">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Wähle deinen Avatar</h1>
    </div>

    <div class="chosen-avatar">
      <img [src]="selectedAvatar ? selectedAvatar : './../../../assets/images/Property 1=Default (8).png'">
      <h1>{{ userData?.name }}</h1>
    </div>

    <div class="choose-avatar-list">
      <span>Aus der Liste wählen</span>
      <div class="pseudo">
        <span class="input-information" *ngIf="showInputInformationUserIcon">Bitte wähle ein Icon.</span>
       </div>
      <div class="avatar-list" >
        <div class="avatar-list">
          <div *ngFor="let img of avatar; let i = index" class="avatar-item" [id]="'avatar-' + i" (click)="chooseAvatar(i)">
            <img [src]="img">
          </div>
        </div>
      </div>

      <form (ngSubmit)="customUserIconURL()" #ngform="ngForm" enctype="multipart/form-data">
        <div class="upload-own-img-container">
          <span>eigenes Bild verwenden</span>
          <input ngModel #icon="ngModel" type="file" name="profile-picture" accept="image/*" id="profile-picture-input" style="display: none;">
          <label for="profile-picture-input" class="upload-img-button">Datei auswählen</label>
          <button class="upload-img-button" type="submit">Datei hochladen</button>
        </div>
      </form>


    </div>

    <div class="continue-button-container">
     <div>
      <button (click)="createAccount()" class="continue-button">Weiter</button>
     </div>
    </div>

  </div>

</div>
