<div class="profile-dialog-container">
  <div class="profile-title"><span class="edit-profile-title">Konto löschen</span><img class="back-button" src="./../../assets/images/close.png" (click)="closeDeleteProfileDialog()" alt=""></div>
  <span>Alle deine Daten werden unwiederuflich gelöscht und können nicht wieder hergstellt werden.</span>

  <div class="button-area">
    <div class="button-section">
      <button (click)="closeDeleteProfileDialog()" class="cancel-button">Abbrechen</button>
      <button (click)="deleteUserAccount()" class="safe-button">Löschen</button>
    </div>
  </div>
</div>

