<div class="loading-screen">
  <mat-progress-bar *ngIf="loadingScreen" mode="indeterminate"></mat-progress-bar>
</div>
<div class="profile-dialog-container">
  <div class="profile-title"><span class="edit-profile-title">Konto löschen</span><img class="back-button" src="./../../assets/images/close.png" (click)="closeDeleteProfileDialog()" alt=""></div>
  <span class="dialog-information">Ihre Daten werden unwiderruflich gelöscht und können nicht wiederhergestellt werden.</span>
  <div class="pseudo">
   <div *ngIf="showInputInformationEmail">
    <span>Vor dem löschen des Kontos musst du dich erneut anmelden. Log dich <a (click)="logOut()">hier</a> aus.</span>
   </div>
  </div>
  <div class="button-area">
    <div class="button-section">
      <button (click)="closeDeleteProfileDialog()" class="cancel-button">Abbrechen</button>
      <button (click)="deleteUserAccount()" class="safe-button">Löschen</button>
    </div>
  </div>
</div>

