.emoji-picker-container {
  position: absolute;
  bottom: 50px;
  z-index: 1000;
}

.d-flex{
    display: flex;
    gap: 10px;
    padding: 3px 10px 3px 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #ECEEFE;
        border-radius: 30px;
    }
}

.active-channel {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: 700;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
    &:hover {
        background-color: #ECEEFE;
        border-radius: 100px;
    }
    >img {
        height: 8.19px;
        width: 14px;
    }
}

.header-channelchat {
    display: flex;
    padding: 25px 45px 25px 45px;
    align-items: center;
    box-shadow: 0 4px 2px rgba(225, 225, 225, 0.5);
    flex: 0 0 auto;
    justify-content: space-between;

    .images {
      display: flex;
      align-items: center;
      gap: 25px;

      .images-participants {
        display: flex;
        align-items: center;
        padding: 5px 15px;
        border-radius: 25px;

        &:hover {
          background-color: #ECEEFE;
          cursor: pointer;
        }
        img {
          height: 50px;
          width: 50px;
        }
        img:nth-child(1) {
          border-radius: 100%;
          height: 50px;
          width: 50px;
          object-fit: cover;
        }
        img:nth-child(2) {
          margin-left: -10px;
          border-radius: 100%;
          height: 50px;
          width: 50px;
          object-fit: cover;
        }
        img:nth-child(3) {
          margin-left: -10px;
          border-radius: 100%;
          height: 50px;
          width: 50px;
          object-fit: cover;
        }

        h2 {
          margin: 0;
          padding-left: 10px;
          font-family: "nunito-bold";
        }
      }

      .add-participants {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #ECEEFE;
        border-radius: 20px;
        cursor: pointer;
        >img {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

.text-editor-channel {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
}

@media(max-width: 850px) {
    .d-flex {
        display: none;
    }

    .header-channelchat {
        padding: 10px 16px 10px 16px;
        height: 60px;
    }

    .active-channel {
        gap: 5px;
        font-size: 20px;
    }
}
