<div class="header">
  <div class="active-channel">
    <div (click)="openChannelInfoDialog()"># {{ channelService.channelName }}</div>
  </div>
  <div class="images">
    <div (click)="openMemberDialog()" class="d-flex">
      <div class="images-participants">
        <ng-container *ngFor="let member of channelService.UserName.slice(0, 3); let i = index">
          <img [src]="getMemberAvatar(member)" alt="">
        </ng-container>
      </div>
      <ng-container *ngIf="channelService.UserName.length > 3">
        <div class="additional-members">+{{ channelService.UserName.length - 3 }}</div>
      </ng-container>
    </div>
    <div class="add-participants">
      <img (click)="openAddPeopleDialog()" src="../../../assets/images/addMemberButton.png" alt="">
    </div>
  </div>
</div>

<div class="scrollbar" #scrollContainer>
  <div *ngFor="let message of channelService.messagesWithAuthors; let i = index">
    <div class="separator">
      <div class="separator-line"></div>
      <div class="separator-date">
        {{ message.createdAt | timestamp: 'day' }}
      </div>
      <div class="separator-line"></div>
    </div>

    <div class="conversation-container"
      (mouseenter)="updateHoverState(i, true)" 
      (mouseleave)="updateHoverState(i, false)"
      [ngClass]="{'justify-end': message.uid === firestoreService.currentuid, 'justify-start': message.uid !== firestoreService.currentuid}">
      <div class="popup-window" *ngIf="isHoveredArray[i] && message.uid === firestoreService.currentuid">
        <img src="./../../../assets/images/green-tick.png" alt="">
        <img src="./../../../assets/images/hands-emoji.png" alt="">
        <img src="./../../../assets/images/add_reaction.png" alt="">
        <img (click)="openThreadWindow(message.messageId)" src="./../../../assets/images/comment.png" alt="">
        <button [matMenuTriggerFor]="editMessage" mat-icon-button (menuOpened)="menuOpened(i)">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #editMessage="matMenu" class="profile-menu" (closed)="menuClosed()">
          <button mat-menu-item (click)="startEditingMessage(i, message.message)">Nachricht bearbeiten</button>
        </mat-menu>
      </div>
      <div class="popup-window" *ngIf="isHoveredArray[i] && message.uid !== firestoreService.currentuid">
        <img src="./../../../assets/images/green-tick.png" alt="">
        <img src="./../../../assets/images/hands-emoji.png" alt="">
        <img src="./../../../assets/images/add_reaction.png" alt="">
        <img (click)="openThreadWindow(message.messageId)" src="./../../../assets/images/comment.png" alt="">
      </div>
      <img [src]="getMemberAvatar(message.uid)" alt="" class="user-avatar">
      <div class="conversation">
        <div class="name-timestamp">
          <h5 (click)="openContactInfoDialog()"><strong>{{ message.authorName }}</strong></h5>
          <p>{{ message.createdAt | timestamp: 'time' }}</p>
        </div>

        <div class="messages-container">
          <div class="speechbubble" *ngIf="editingMessageIndex !== i">
            <p>{{ message.message }}</p>
          </div>
          <div class="edit-message-container" *ngIf="editingMessageIndex === i">
            <textarea class="edit-textarea" [(ngModel)]="editedMessageText"></textarea>
            <div class="edit-message-buttons">
              <div class="smiley"><img src="./../../../assets/images/smiley.png" alt=""></div>
              <div class="buttons">
                <button class="cancel" (click)="cancelEditingMessage()">Abbrechen</button>
                <button class="save" (click)="saveEditedMessage(i)">Speichern</button>
              </div>
            </div>
          </div>
        </div>

        <div class="reply" *ngIf="message.commentCount > 0">
          <div (click)="openThreadWindow(message.messageId)">{{ message.commentCount }} Antworten</div>
          <p> Letzte Antwort {{ message.lastCommentTime | timestamp: 'time' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-text-editor [componentName]="'channel'" />