<div class="header">
  <div (click)="openChannelInfoDialog()"># Entwicklerteam</div>
  <div class="images">
    <div class="images-participants" (click)="openMemberDialog()">
      <img src="../../../assets/images/avatar.png" alt="">
      <img src="../../../assets/images/avatar.png" alt="">
      <img src="../../../assets/images/avatar.png" alt="">
    </div>
    <div class="add-participants">
      <img (click)="openAddPeopleDialog()" src="../../../assets/images/addMemberButton.png" alt="">
    </div>
  </div>
</div>

<div>
  <div class="separator">
    <div class="separator-line"></div>
    <div class="separator-date">
      Samstag, 27.04.2024
    </div>
    <div class="separator-line"></div>
  </div>

  <div class="conversation-container">
    <img src="../../../assets/images/avatar.png" alt="">
    <div class="conversation">
      <div class="name-timestamp">
        <h5 (click)="openContactInfoDialog()"><strong>FullName</strong></h5>
        <p>00:00Uhr</p>
      </div>

      <div class="speechbubble">
        <p>Nachricht</p>
      </div>

      <div class="reply">
        <a> 0 Antworten</a>
        <p> Letzte Antwort 00:00Uhr
        </p>
      </div>

    </div>
  </div>
</div>