.d-flex{
    display: flex;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.bg-color-message {
    background-color: #ECEEFE;
}

.bg-color-own-message {
    background-color: #797EF3;
    color: white;
}