<div class="header">
  <div class="active-channel">
    <div (click)="openChannelInfoDialog()"># {{ channelService.channelName }}</div>
  </div>
  <div class="images">
    <div class="images-participants" (click)="openMemberDialog()">
      <img src="../../../assets/images/avatar.png" alt="">
      <img src="../../../assets/images/avatar.png" alt="">
      <img src="../../../assets/images/avatar.png" alt="">
    </div>
    <div class="add-participants">
      <img (click)="openAddPeopleDialog()" src="../../../assets/images/addMemberButton.png" alt="">
    </div>
  </div>
</div>

<div class="scrollbar" #scrollContainer>
  <div *ngFor="let message of channelService.messages">
    <div class="separator">
      <div class="separator-line"></div>
      <div class="separator-date">
        {{ message.createdAt | timestamp: 'day' }}
      </div>
      <div class="separator-line"></div>
    </div>

    <div class="conversation-container">
      <img src="../../../assets/images/avatar.png" alt="">
      <div class="conversation">
        <div class="name-timestamp">
          <h5 (click)="openContactInfoDialog()"><strong>FullName</strong></h5>
          <p>{{ message.createdAt | timestamp: 'time' }}</p>
        </div>


        <div class="messages-container">
          <div class="speechbubble">
            <p>{{ message.message }}</p>
          </div>
        </div>


        <div class="reply">
          <div (click)="openThreadWindow(message.messageId)">0 Antworten</div>
          <p> Letzte Antwort 00:00Uhr
          </p>
        </div>

      </div>
    </div>
  </div>

  <app-text-editor [componentName]="'channel'" />