<div class="log-in-card-container">

  <div class="log-in-card">

    <div *ngIf="loadingScreen" class="loading-screen">
      <mat-spinner></mat-spinner>
    </div>

    <div class="card-header-section">
      <button class="back-to-log-in-button" (click)="backToLogIn()">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail-adresse hast<br> du ein neues DABubble-Konto.</span>
    </div>

    <form (ngSubmit)="userSignUp(signUpForm)" #signUpForm="ngForm">
      <div class="card-input-section">
        <div class="input-container">
          <img src="./../../../assets/images/unisex-user-icon.svg">
          <input required placeholder="Name und Nachname" autocomplete="current-username" name="username" ngModel #username="ngModel">
        </div>
        <div class="pseudo">
          <span class="input-information" *ngIf="showInputInformationUserName">Bitte gebe deinen Namen an.</span>

        </div>
        <div class="input-container">
          <img src="./../../../assets/images/mail.svg">
          <input required placeholder="MaxMustermann@gmail.com" autocomplete="current-email" name="email" ngModel #email="ngModel">
        </div>
        <div class="pseudo">
          <span class="input-information" *ngIf="showInputInformationEmailInputEmpty ">Bitte geben Sie eine gültige E-Mail-Adresse ein.</span>
          <span class="input-information" *ngIf="showInputInformationEmailforgive ">Die Email wird bereits verwendet.</span>

        </div>
        <div class="input-container">
          <img class="show-password-button" *ngIf="!showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock.svg">
          <img class="show-password-button" *ngIf="showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock_open_20dp_FILL0_wght400_GRAD0_opsz20.svg">
          <input required type="password" id="password" placeholder="Passwort" autocomplete="current-password" name="password" ngModel #password="ngModel">
        </div>
       <div class="pseudo">
        <span class="input-information" *ngIf="showInputInformationPassword ">Das Passwort muss 6 Zeichen lang sein.</span>
       </div>

        <div class="input-checkbox-container">
          <input required type="checkbox" name="privacyPolice" ngModel #privacyPolice="ngModel">
          <span>Ich stimme der <a (click)="openPrivacyPoliceComponent()">Datenschutzerklärung</a> zu</span>
        </div>
        <div class="pseudo">
          <span class="input-information-checkbox"  *ngIf="showInputInformationPrivacyPolice">Bitte bestätigen Sie die Datenschutzerklärung.</span>
        </div>
      </div>

      <div class="continue-button-container">
       <div>
        <button type="submit" class="continue-button">Weiter</button>
       </div>
      </div>
    </form>

  </div>

</div>

