<div class="log-in-card-container">

  <div class="log-in-card">

    <div class="card-header-section">
      <button class="back-to-log-in-button" (click)="backToLogIn()">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Konto erstellen</h1>
      <span>Mit deinem Namen und deiner E-Mail-adresse hast<br> du ein neues DABubble-Konto.</span>
    </div>

    <div class="card-input-section">
      <div class="input-container">
        <img src="./../../../assets/images/unisex-user-icon.svg">
        <input placeholder="Name und Nachname">
      </div>
      <div class="input-container">
        <img src="./../../../assets/images/mail.svg">
        <input placeholder="MaxMustermann@gmail.com">
      </div>
      <div class="input-container">
        <img src="./../../../assets/images/lock.svg">
        <input type="password" placeholder="Passwort">
      </div>

      <div class="input-checkbox-container">
        <input type="checkbox">
        <span>Ich stimme der <a>Datenschutzerklärung</a> zu</span>
      </div>
    </div>

    <div class="continue-button-container">
     <div>
      <button (click)="toChooseAvatar()" class="continue-button">Weiter</button>
     </div>
    </div>

  </div>

</div>

