<div class="dialog-add-people-container">
    <div class="dialog-add-people-title"><span>Leute hinzufügen</span><img src="./../../assets/images/close.png" alt="" (click)="closeAddPeopleDialog()"></div>
    <div class="channel-name"><span>#</span><span>{{ channelService.channelName }}</span></div>
    <input  
    type="text" 
    [(ngModel)]="personName" 
    placeholder="Name der Person" 
    (input)="filterUsers()"
    >
    <div *ngIf="showUserList" class="user-dropdown">
       <div *ngFor="let user of filteredUsers" class="user-option" (click)="selectUser(user)">{{ user.username }}</div> 
    </div>
    <div class="dialog-add-people-to-new-channel-button">
        <button [style.background-color]="buttonColor" (click)="addUserToChannel()">Hinzufügen</button>
    </div>
</div>