@import '@ctrl/ngx-emoji-mart/picker';

.emoji-picker-container{
  position: absolute;
  z-index: 1000;
  bottom: 50px;
}

.show-associated-user{
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  height: auto;
  width: auto;
  min-width: 200px;
  border: none;
  border-radius: 40px;
  border-top-right-radius: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 40px 10px 20px;

  .user-parcel {
    color: #565bf4;
    border-radius: 20px;

    .choose-user-parcel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 40px;
      font-size: 16px;
    }

    &:hover {
      cursor: pointer;
      background-color: #ADB0D9;
      color: black;
    }
  }
}

.text-editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-left: 5%;
  background-color: white;

  .input-section {
    width: 100%;
    border: 1px solid #ADB0D9;
    border-radius: 25px;
    height: auto;
    z-index: 100;

    textarea {
      width: 90%;
      height: 40px;
      resize: none;
      border: none;
      font-size: 18px;
      font-weight: 400;
      font-family: "nunito";
      margin-left: 24px;
      margin-top: 24px !important;
      color: #686868;
      outline: none;
    }

    .imageDisplay {
      display: flex;
      flex-direction: row;
      gap: 20px;
      height: 80px;
      width: 90%;
      margin-left: 24px;
      margin-right: 24px;

      .file-link-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0px 20px;
        width: auto;
        border-radius: 25px;
        background-color: #ADB0D9;
        font-family: "nunito";
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        .delete-file-button {
          border: none;
          background-color: transparent;

          img {
            height: 16px;
            width: 16px;
          }

          &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(26%) sepia(95%) saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
          }
        }

        .file-link {
          text-decoration: none;
          color: black;
        }

        &:hover {

          .file-link {
            text-decoration: underline;
            color: #565bf4;
          }
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 24px;
      height: 25px;

      .left-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        .input-button {
          height: 25px;
          margin: 5px;

          &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(26%) sepia(95%) saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
          }
        }

        .distance-line {
          margin: 5px;
          height: 25px;
          width: 2px;
          background-color: #ADB0D9;
        }
      }

      .right-buttons {

        .send-message-button {
          border: none;
          background-color: transparent;
          filter: brightness(0%);

          &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(26%) sepia(95%) saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
          }
        }
      }
    }
  }
}
