<div class="imprint-card-container">

  <div class="imprint-card">

    <div class="card-header-section">
      <button (click)="backToLogIn()" class="back-to-log-in-button" >
        <img src="./../../../assets/images/arrow_back.png">
      </button>
    </div>

    <div class="info-container-one">
      <h1>Impressum</h1>
      <span>Christopher Zwick</span>
      <span>In der Schlage 38a</span>
      <span>58313 Herdecke</span>
    </div>

    <div  class="info-container-two">
      <h1>Contact</h1>
      <span>Email: info&#64;christopher-zwick.de</span>
    </div>

  </div>

</div>


