<div class="imprint-card-container">

  <div class="imprint-card">

    <div class="card-header-section">
      <button  *ngIf="showPrivacyPolice" (click)="backToSignUp()" class="back-to-log-in-button" >
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <button  *ngIf="!showPrivacyPolice" (click)="backToLogIn()" class="back-to-log-in-button" >
        <img src="./../../../assets/images/arrow_back.png">
      </button>
    </div>

    <div class="info-container-one">
      <h1>Datenschutzerklärung</h1>
    </div>

    <div  class="info-container-two">

    </div>

  </div>

</div>


