<div class="dialog-channel-info-container">
    <div class="channel-info-title">
        <span># {{ channelService.channelName }}</span>
        <img src="./../../assets/images/close.png" alt="" (click)="closeChannelInfoDialog()">
    </div>
    <div class="channel-name-container" [ngClass]="{'editing': editingName}">
        <div class="channel-name">
            <span>Channel-Name</span>
            <span *ngIf="firestoreService.isScreenWide" class="purple-color" (click)="toggleEditing('name')">{{ editingName ? 'Speichern' : 'Bearbeiten' }}</span>
            <div *ngIf="!firestoreService.isScreenWide" (click)="toggleEditing('name')" class="edit-button-mobile">
                <ng-container *ngIf="editingName">
                    <img src="./../../assets/images/save.png" alt="">
                </ng-container>
                <ng-container *ngIf="!editingName">
                    <img src="./../../assets/images/edit.png" alt="">
                </ng-container>
            </div>
        </div>
        <input type="text" [(ngModel)]="editedChannelName" *ngIf="editingName"/>
        <span class="channel-name-small" *ngIf="!editingName">{{ channelService.channelName }}</span>
    </div>
    <div class="description-container" [ngClass]="{'editing': editingDescription}">
        <div class="description-title">
            <span>Beschreibung</span>
            <span *ngIf="firestoreService.isScreenWide" class="purple-color" (click)="toggleEditing('description')">{{ editingDescription ? 'Speichern' : 'Bearbeiten' }}</span>
            <div *ngIf="!firestoreService.isScreenWide" (click)="toggleEditing('description')" class="edit-button-mobile">
                <ng-container *ngIf="editingDescription">
                    <img src="./../../assets/images/save.png" alt="">
                </ng-container>
                <ng-container *ngIf="!editingDescription">
                    <img src="./../../assets/images/edit.png" alt="">
                </ng-container>
            </div>
        </div>
        <input type="text" [(ngModel)]="editedDescription" *ngIf="editingDescription"/>
        <span class="description-text" *ngIf="!editingDescription">{{ channelService.channelDescription }}</span>
        <div class="description-line-container"><div class="description-line"></div></div>
        <div class="created-by">
            <span class="created-by-title">Erstellt von</span>
            <span class="created-by-name">{{ authorName }}</span>
        </div>
    </div>
    <div class="dialog-member-container" *ngIf="!firestoreService.isScreenWide">
        <span class="member-title">Mitglieder</span>
        <div>
            <div class="dialog-member-avatar-name" *ngFor="let member of memberData">
            <div (click)="openContactInfo(member.uid)" class="dialog-member-avatar">
                <img src="{{ member.photo }}" alt="">
                <span>{{ member.username }}</span>
            </div>
            </div>
            <div class="add-member-container" (click)="openAddPeopleDialog()">
            <img src="./../../assets/images/addMemberButton.png" alt="">
            <span>Mitglieder hinzufügen</span>
            </div>
        </div>
    </div>
    <div *ngIf="isChannelAuthor" (click)="deleteChannel()" class="leave-channel-button">
        <button>Channel löschen</button>
    </div>
    <div *ngIf="!isChannelAuthor" (click)="leaveChannel()" class="leave-channel-button">
        <button>Channel verlassen</button>
    </div>
</div>
