<div class="dialog-channel-info-container">
    <div class="channel-info-title">
        <span># Entwicklerteam</span>
        <img src="./../../assets/images/close.png" alt="" (click)="closeChannelInfoDialog()">
    </div>
    <div class="channel-name-container" [ngClass]="{'editing': editingName}">
        <div class="channel-name">
            <span>Channel-Name</span>
            <span class="purple-color" (click)="toggleEditing('name')">{{ editingName ? 'Speichern' : 'Bearbeiten' }}</span>
        </div>
        <input type="text" [(ngModel)]="editedChannelName" *ngIf="editingName"/>
        <span class="channel-name-small" *ngIf="!editingName">{{ channelName }}</span>
    </div>
    <div class="description-container" [ngClass]="{'editing': editingDescription}">
        <div class="description-title">
            <span>Beschreibung</span>
            <span class="purple-color" (click)="toggleEditing('description')">{{ editingDescription ? 'Speichern' : 'Bearbeiten' }}</span>
        </div>
        <input type="text" [(ngModel)]="editedDescription" *ngIf="editingDescription"/>
        <span class="description-text" *ngIf="!editingDescription">{{ description }}</span>
        <div class="description-line-container"><div class="description-line"></div></div>
        <div class="created-by">
            <span class="created-by-title">Erstellt von</span>
            <span class="created-by-name">Noah Braun</span>
        </div>
    </div>
    <div class="leave-channel-button"><button>Channel verlassen</button></div>
</div>