<div class="background start-page" [class.account-created]="accountCreate">
  <div class="overlay" *ngIf="accountCreate"></div>
  <app-start-side-header [showSignUp]="showSignUpComponent"  [showChooseAvatar]="showChooseAvatarComponent"  (signUpClicked)="signUpClicked()"></app-start-side-header>

  <ng-template [ngIf]="showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent">
    <app-log-in></app-log-in>
  </ng-template>

  <ng-template [ngIf]="showSignUpComponent && !showLoginComponent && !showChooseAvatarComponent">
    <app-sign-up (backToLoginClicked)="backToLoginClicked()" (continueToChooseAvatar)="continueToChooseAvatar()"></app-sign-up>
  </ng-template>

  <ng-template [ngIf]="showChooseAvatarComponent && !showLoginComponent && !showSignUpComponent">
    <app-sign-up-choose-avatar (accountCreated)="accountCreated()" (backToSignUpClicked)="backToSignUpClicked()"></app-sign-up-choose-avatar>
  </ng-template>

  <div *ngIf="accountCreate" class="account-created-container">
    <span>Konto erfolgreich erstellt</span>
  </div>

  <app-start-side-footer>
  </app-start-side-footer>
</div>
