<div class="background start-page" [class.account-created]="accountCreate" [class.account-created]="emailSend">
  <div class="overlay" *ngIf="accountCreate || emailSend"></div>
  <app-start-side-header [showSignUp]="showSignUpComponent"  [showChooseAvatar]="showChooseAvatarComponent"  (signUpClicked)="signUpClicked()"></app-start-side-header>

  <ng-template [ngIf]="showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent">
    <app-log-in (forgotPassword)="forgotPassword()"></app-log-in>
  </ng-template>

  <ng-template [ngIf]="showSignUpComponent && !showLoginComponent && !showChooseAvatarComponent">
    <app-sign-up (backToLoginClicked)="backToLoginClicked()" (continueToChooseAvatar)="continueToChooseAvatar()"></app-sign-up>
  </ng-template>

  <ng-template [ngIf]="showChooseAvatarComponent && !showLoginComponent && !showSignUpComponent">
    <app-sign-up-choose-avatar (accountCreated)="accountCreated()" (backToSignUpClicked)="backToSignUpClicked()"></app-sign-up-choose-avatar>
  </ng-template>

  <ng-template [ngIf]="showForgetPasswordComponent && !showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent">
    <app-forget-password (emailSended)="emailSended()" (backToLoginClicked)="backToLoginClicked()"></app-forget-password>
  </ng-template>


  <div *ngIf="accountCreate" class="account-created-container">
    <span>Konto erfolgreich erstellt</span>
  </div>

  <div *ngIf="emailSend" class="email-send-container">
    <img src="./../../assets/images/send.png">
    <span>E-Mail gesendet</span>
  </div>

  <app-start-side-footer>
  </app-start-side-footer>
</div>
