<div class="background start-page" [class.account-created]="accountCreate" [class.account-created]="emailSend">
  <div class="overlay" *ngIf="accountCreate || emailSend"></div>
  <!-- <div *ngIf="startScreen" class="start-screen">
    <div class="start-screen-content">
      <img src="./../../assets/images/Logo (3).png">
      <h1>DABubble</h1>
    </div>
  </div> -->
  <app-start-side-header [showSignUp]="showSignUpComponent"  [showChooseAvatar]="showChooseAvatarComponent"  (signUpClicked)="signUpClicked()" (backToLoginClicked)="backToLoginClicked()"></app-start-side-header>

  <ng-template [ngIf]="showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent && !showForgetPasswordComponent && !showChangePasswordComponent&& !showImpressumComponent && !showPrivacyPoliceComponent">
    <app-log-in (forgotPassword)="forgotPassword()"></app-log-in>
  </ng-template>

  <ng-template [ngIf]="showSignUpComponent && !showLoginComponent && !showChooseAvatarComponent  && !showForgetPasswordComponent && !showChangePasswordComponent && !showImpressumComponent && !showPrivacyPoliceComponent">
    <app-sign-up (backToLoginClicked)="backToLoginClicked()" (continueToChooseAvatar)="continueToChooseAvatar()" (openPrivacyPolice)="openPrivacyPolice()"></app-sign-up>
  </ng-template>

  <ng-template [ngIf]="showChooseAvatarComponent && !showLoginComponent && !showSignUpComponent  && !showForgetPasswordComponent && !showChangePasswordComponent && !showImpressumComponent && !showPrivacyPoliceComponent">
    <app-sign-up-choose-avatar (accountCreated)="accountCreated()" (backToSignUpClicked)="backToSignUpClicked()"></app-sign-up-choose-avatar>
  </ng-template>

  <ng-template [ngIf]="showForgetPasswordComponent && !showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent && !showChangePasswordComponent && !showImpressumComponent && !showPrivacyPoliceComponent">
    <app-forget-password (emailSended)="emailSended()" (backToLoginClicked)="backToLoginClicked()"></app-forget-password>
  </ng-template>

  <ng-template [ngIf]="showChangePasswordComponent && !showForgetPasswordComponent && !showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent && !showImpressumComponent && !showPrivacyPoliceComponent">
    <!-- <app-change-passwort (forgotPassword)="forgotPassword()" (PasswordSuccesfullyChanged)="PasswordSuccesfullyChanged()"></app-change-passwort> -->
    <app-change-passwort (forgotPassword)="forgotPassword()"></app-change-passwort>
  </ng-template>

  <ng-template [ngIf]="showImpressumComponent && !showChangePasswordComponent && !showForgetPasswordComponent && !showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent && !showPrivacyPoliceComponent">
    <app-imprint (backToLoginClicked)="backToLoginClicked()"></app-imprint>
  </ng-template>

  <ng-template [ngIf]="showPrivacyPoliceComponent && !showImpressumComponent && !showChangePasswordComponent && !showForgetPasswordComponent && !showLoginComponent && !showSignUpComponent && !showChooseAvatarComponent">
    <app-privacy-police [showPrivacyPolice]="backToSignUpFromPrivacyPolice"  (backToLoginClicked)="backToLoginClicked()" (backToSignUpClicked)="backToSignUpClicked()"></app-privacy-police>
  </ng-template>

  <div *ngIf="accountCreate" class="account-created-container">
    <span>Konto erfolgreich erstellt</span>
  </div>

  <div *ngIf="emailSend" class="email-send-container">
    <img src="./../../assets/images/send.png">
    <span>E-Mail gesendet</span>
  </div>

  <div *ngIf="updateEmail" class="email-send-container">
    <span>Bitte bestätigen Sie die neue <br> Email-Adresse</span>
  </div>

  <div *ngIf="deleteAccount" class="email-send-container">
    <span>Konto wurde gelöscht.</span>
  </div>

  <ng-template [ngIf]="showLoginComponent || showSignUpComponent || showChooseAvatarComponent || showForgetPasswordComponent || showChangePasswordComponent || showImpressumComponent || showPrivacyPoliceComponent">
    <app-start-side-footer [showSignUp]="showSignUpComponent"  [showChooseAvatar]="showChooseAvatarComponent" (openImpressum)="openImpressum()" (openPrivacyPolice)="openPrivacyPolice()" (signUpClicked)="signUpClicked()"></app-start-side-footer>
  </ng-template>

</div>
