.start-page {
  max-height: 100vh;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
  }
  .email-send-container,
  .account-created-container {
    gap: 10px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    background-color: #565bf4;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    z-index: 1001;
    animation: notification-slide-in 0.3s ease-in-out;

    span {
      font-size: 18px;
    }

    img {
      height: 28px;
      width: 28px;
    }
  }
}

@keyframes notification-slide-in {
  from {
    right: -300px;
  }

  to {
    right: 20px;
  }
 }
