<app-chips [allEntitys]="filteredEntities" (addEntity)="selectEntity($event)" (removedEntity)="removeUser($event)"
    (searchEntity)="searchEntity($event)"></app-chips>
<app-text-editor [componentName]="'emptyChat'" class="emptychat"/>

<!-- Old -->
<!-- <div class="header">
    <div class="inputFieldContainer">
        <span *ngFor="let user of selectedUsers" class="user-tag">
            {{ user }}
        </span>
        <mat-form-field appearance="outline">
            <mat-label>Search User</mat-label>
            <input matInput (keyup)="searchEntity(inputRef.value)" (input)="updatePlaceholder(inputRef.value)" #inputRef
                placeholder="Search users ..." value="" class="inputField">
        </mat-form-field>
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown">
        <div *ngIf="showUserPlaceholder" class="dropdown-item" (click)="displayAllUsers()">Search for User</div>
        <div class="dropdown-item" *ngFor="let entity of filteredEntities" (click)="selectEntity(entity)">
            {{ entity.username || entity.channelName }}
        </div>
    </div>
</div> -->