<div class="header">
    <div class="inputFieldContainer">
        <span *ngFor="let user of selectedUsers" class="user-tag">
            {{ user }}
            <span class="remove-tag" (click)="removeUser(user)">x</span>
        </span>
        <input (keyup)="searchEntity(inputRef.value)" (input)="updatePlaceholder(inputRef.value)" #inputRef
            placeholder="Search users or channels..." value="" class="inputField" />
    </div>
    <div class="dropdown-menu" *ngIf="showDropdown">
        <div *ngIf="showUserChannelPlaceholder" class="dropdown-item" (click)="displayAllUsersAndChannels()">Show Users
            and Channels</div>
        <div *ngIf="showUserPlaceholder" class="dropdown-item" (click)="displayAllUsers()">Search for User</div>
        <div *ngIf="showChannelPlaceholder" class="dropdown-item" (click)="displayAllChannels()">Search for Channel
        </div>
        <div class="dropdown-item" *ngFor="let entity of filteredEntities" (click)="selectEntity(entity)">
            {{ entity.username || entity.channelName }}
        </div>
    </div>
</div>

<app-text-editor [componentName]="'emptyChat'" />
