footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-top: 30px;

  button {
    color: #797EF3;
    background-color: #ECEEFE;
    border: none;
    font-size: 18px;
    border: 1px solid transparent;
    height: 42px;
    width: 121px;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      border: 1px solid #ADB0D9;
      filter: brightness(1.05);
    }
  }

  .footer-sign-up {
    display: none;
  }
}

@media screen and (max-width: 850px) {

  footer {
    flex-direction: column;
    align-items: center;

    .footer-buttons {
      display: none;
    }

    .footer-sign-up {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      button {
        text-decoration: none;
        color: #797EF3;
        background-color: transparent;
        font-size: 18px;
        border: 1px solid #797EF3;
        border-radius: 25px;
        width: 160px;
        height: 40px;

        &:hover {
          cursor: pointer;
          background-color:#797EF3;
          color: white;
          filter: brightness(1.3);
        }
      }
    }
  }
}
