<p>workspace works!</p>
<div class="workspace-header">
    <img src="../assets/images/workspaceLogo.svg" alt="">
    <div>Devspace</div>
    <img src="../assets/images/editSquare.svg" alt="">
  </div>


  <div class="workspace-channels">
    <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
    <div class="channels">
      <img src="../assets/images/workspaces.svg" alt="">
      <div>channels</div>
    </div>
    <img (click)="openCreateChannelDialog()" src="../assets/images/add.svg" alt="" class="channels-add">
  </div>

  <div class="">
    <div class="direct-messages">
      <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
      <img src="../assets/images/accountCircle.svg" alt="">
      <div>Direktnachrichten</div>
    </div>
    <div class="users">
      <div class="user">
        <img src="../../../assets/images/avatar.png" alt="">
        <div>Name1</div>
      </div>
      <div class="user">
        <img src="../../../assets/images/avatar.png" alt="">
        <div>Name2</div>
      </div>
      <div class="user">
        <img src="../../../assets/images/avatar.png" alt="">
        <div>Name3</div>
      </div>
    </div>
  </div>