<div class="container">
    <div class="header">
        <img src="../assets/images/workspaceLogo.svg" alt="" class="workspace-logo">
        <div>Devspace</div>
        <img src="../assets/images/editSquare.svg" alt="" (click)="openEmptyChat()">
    </div>

    <div class="channels-container">
        <div class="channels-overview">
            <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
            <img src="../assets/images/workspaces.svg" alt="">
            <div>channels</div>
            <img (click)="openCreateChannelDialog()" src="../assets/images/add.svg" alt="" class="channels-add">
        </div>
        <div class="active-channel" *ngFor="let channel of filteredChannels">
            <div (click)="channelService.getChannelName(channel.channelName)"
                (click)="channelService.getDescription(channel.description)"
                (click)="channelService.getUserName(channel.users)" (click)="channelService.getAuthor(channel.author)"
                (click)="openChannelChat(channel.channelId)"># {{ channel.channelName }}</div>
        </div>
    </div>
</div>

<div class="">
    <div class="direct-messages">
        <img src="../assets/images/arrowDropDown.svg" alt="" class="dropdown" (click)="dropDownMessages()">
        <img src="../assets/images/accountCircle.svg" alt="">
        <div>Direktnachrichten</div>
    </div>
    <div class="users scrollbar" [@toggleUsers]="displayUsers ? 'open' : 'closed'">
        <div class="user" (click)="openChat(currentUser)">
            <!-- <img id="user-icon" class="user-icon" src="{{ currentUser?.photo }}" alt="User Icon"
            onerror="this.onerror=null;this.src='./../../../assets/images/Property 1=Default (8).png'"> -->
            <div>{{ currentUser?.username }} ( Du )
                <div class="active-circle" [ngClass]="userStatus">
                    <select (change)="changeStatus($event)">
                        <option value="active" [selected]="userStatus === 'active'">Active</option>
                        <option value="away" [selected]="userStatus === 'away'">Away</option>
                        <option value="busy" [selected]="userStatus === 'busy'">Busy</option>
                    </select>
                </div>
            </div>
        </div>
        <div *ngFor="let user of otherUsers, let i = index">
            <div class="user" (click)="openChat(user)">
                <img id="user-icon" class="user-icon" src="{{ user.photo }}" alt="User Icon"
                    onerror="this.onerror=null;this.src='./../../../assets/images/Property 1=Default (8).png'">
                <div>{{ user.username }}</div>
            </div>
        </div>
    </div>
</div>