.user-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.workspace-content {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
      margin: 0;
    }

    .open-empty-chat-button {
      &:hover {
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
          saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
      }
    }
  }

  .workspace-main-content {
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .channels-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 25px;
      .channels-overview {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .open-channel-overview {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 15px;

          h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 700;
          }

          &:hover {
            border-radius: 25px;
            color: #565bf4;
            cursor: pointer;

            .channels-dropdown,
            .workspaces-icon {
              filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
                saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
            }
          }
        }

        .open-create-channel {
          height: 32px;
          width: 32px;

          &:hover {
            cursor: pointer;
            filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
              saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
          }
        }
      }

      .reveal-channels {
        width: 100%;

        .active-channel {
          display: flex;
          flex-direction: column;
          align-items: start;
          font-size: 18px;
          font-weight: 700;

          .channel-name {
            display: flex;
            gap: 10px;
            font-size: 18px;
            padding: 4px 20px 4px 20px;

            &:hover {
              cursor: pointer;
              font-weight: 800;
              background-color: #eceefe;
              border-radius: 25px;
              color: #535af1;
            }
          }
        }

        .create-channel {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 4px 10px 4px 10px;
          gap: 10px;
          font-size: 18px;
          margin-top: 25px;

          &:hover {
            color: #535af1;
            cursor: pointer;

            .add-channel-image {
              filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
                saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
            }
          }
        }
      }
    }

    .direct-messages-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 25px;

      .direct-messages-overview {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 15px;
        padding: 5px 10px 5px 0px;

        h2 {
          margin: 0;
          font-size: 20px;
          font-weight: 700;
        }

        &:hover {
          cursor: pointer;
          color: #565bf4;

          .channels-dropdown,
          .workspaces-icon {
            filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
              saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
          }
        }
      }

      .users {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: height 1s ease;
        height: 500px;
        transition: max-height 0.5s ease-in-out;

        &.open {
          max-height: 500px;
        }

        .own-user {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          padding: 4px 20px 4px 20px;
          width: fit-content;

          &:hover {
            cursor: pointer;
            background-color: #eceefe;
            border-radius: 35px;
          }

          .user-icon {
            border-radius: 100%;
            height: 40px;
            width: 40px;
          }

          h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
          }
        }

        .other-user {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          padding: 4px 20px 4px 20px;
          width: fit-content;

          &:hover {
            cursor: pointer;
            background-color: #eceefe;
            border-radius: 35px;
          }

          .user-icon {
            border-radius: 100%;
            height: 40px;
            width: 40px;
          }

          h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
          }
          .status-text {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: #fff;
            padding: 2px 5px;
            border-radius: 3px;
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s ease-in-out 0.5s;
            pointer-events: none;
            margin-top: 5px;
          }

          &:hover .status-text {
            opacity: 1;
          }
        }
      }
    }
  }
}

.user-icon-circle {
  position: relative;
}

.active-circle {
  position: absolute !important;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  right: 2.5px;
  bottom: 2.5px;

  select {
    position: absolute;
    top: -5px;
    left: -5px;
    height: 20px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
  }

  .status-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.5s;
    pointer-events: none;
    margin-top: 5px;
  }

  &:hover .status-text {
    opacity: 1;
  }
}

.channel-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.active {
  background-color: green;
}

.away,
.simpleaway {
  background-color: yellow;
}

.busy {
  background-color: red;
}

.offline {
  background-color: grey;
}

.workspace-logo-headline {
  display: flex;
  align-items: center;
  gap: 15px;
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
}

.search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 68px;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 42px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  .serach-bar {
    width: 100%;
    height: 56px;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: white;
  }

  .search-button {
    background-color: white;
    border: none;
    cursor: pointer;

    &:hover {
      img {
        filter: brightness(0.6);
      }
    }

    img {
      height: 35px;
      width: 35px;
    }
  }
}

.mobile-button {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background-color: #444df2;
  position: absolute;
  bottom: 50px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    height: 24px;
    width: 24px;
  }
}

@media (max-width: 1350px) {
  .workspace-content {

    header {

      .workspace-logo-headline {
        display: flex;
        align-items: center;
        gap: 15px;

        .workspace-logo {
          height: 40px;
          width: auto;
        }
        h1 {
          font-size: 22px;
          font-weight: 700;
        }
      }
    }

    .open-channel-overview {

      h2 {
        font-size: 18px;
      }
    }

    .reveal-channels {

      .active-channel {

        .channel-name {
          font-size: 16px !important;
        }
      }

      .create-channel {
        font-size: 16px !important;
      }
    }
  }

  .direct-messages-container {

    .direct-messages-overview {

      h2 {
        font-size: 18px;
      }
    }

    .users {

      .own-user {
        padding: 4px 10px 4px 10px !important;

        h2 {
          font-size: 16px !important;
        }
      }

      .other-user {
        padding: 4px 10px 4px 10px !important;

        h2 {
          font-size: 16px !important;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .workspace-content {
    header {
      display: none;
    }
  }

  .workspace-main-content {
    margin-top: 0px !important;
  }

  .search-input {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    height: 32px;
    padding: 8px 24px 8px 24px;
    font-size: 17px;
    font-weight: 400;
  }

  .serach-bar {
    height: 46px !important;
  }

  .search-button {
    > img {
      height: 32px !important;
      width: 32px !important;
    }
  }
}
