<div class="container">
    <div class="header">
        <img src="../assets/images/workspaceLogo.svg" alt="" class="workspace-logo">
        <div>Devspace</div>
        <img src="../assets/images/editSquare.svg" alt="" (click)="openEmptyChat()">
    </div>

    <div class="channels-container">
        <div class="channels-overview">
            <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown">
            <img src="../assets/images/workspaces.svg" alt="">
            <div>channels</div>
            <img (click)="openCreateChannelDialog()" src="../assets/images/add.svg" alt="" class="channels-add">
        </div>
        <div class="active-channel" *ngFor="let channel of filteredChannels">
            <div (click)="channelService.getChannelName(channel.channelName)"
                (click)="channelService.getDescription(channel.description)"
                (click)="channelService.getUserName(channel.users)" (click)="channelService.getAuthor(channel.author)"
                (click)="openChannelChat(channel.channelId)"># {{ channel.channelName }}</div>
        </div>
    </div>
</div>

<div class="">
    <div class="direct-messages">
        <img src="../assets/images/arrowDropDown.svg" alt="" class="channels-dropdown" (click)="dropDownMessages()">
        <img src="../assets/images/accountCircle.svg" alt="">
        <div>Direktnachrichten</div>
    </div>
    <div class="users scrollbar">
        <div *ngFor="let user of allUsers, let i = index">
            <div class="user" (click)="openChat(user)">
                <img src="./../../../assets/images/avatar.png" alt="Avatar">
                <div>{{ user.username }}
                <div class="active-circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>