.dialog-add-people-to-new-channel-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    input{
        height: 17px;
        padding: 15px 20px 15px 20px;
        border-radius: 30px;
        border: 1px solid #ADB0D9;
    }
}

.dialog-add-people-to-new-channel-title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    img{
        cursor: pointer;
    }
}

.add-people-from-office{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.add-certain-people{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.dialog-add-people-to-new-channel-button{
    display: flex;
    justify-content: end;
    button{
        width: 125px;
        padding: 12px 25px 12px 25px;
        height: 49px;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
}

.office-team{
    color: #535AF1;
}

.input-certain-peolpe{
    display: flex;
    flex-direction: column;
}

::ng-deep.mat-mdc-dialog-container{
    --mdc-dialog-container-shape: 30px !important;
}

.user-dropdown{
    border: 1px solid #ADB0D9;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: -30px;
    width: 50%;
    margin-left: 15px;
    position: absolute;
    top: 70%;
}

.user-option{
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background-color: rgb(236, 238, 254) !important;
    }
    border-radius: 50px;
    width: fit-content;
    margin-left: 20px;
}