<div class="dialog-add-people-to-new-channel-container">
    <div class="dialog-add-people-to-new-channel-title">
      <span>Leute hinzufügen</span>
      <img src="./../../assets/images/close.png" alt="" (click)="closeAddPeopleToNewChannelDialog()">
    </div>
    <div class="add-people-from-office">
      <input type="radio" [(ngModel)]="selectedOption" value="office" (change)="checkButtonStatus()">
      <label for="office-member">Alle Mitglieder von <span class="office-team">Office Team</span> hinzufügen</label>
    </div>
    <div class="add-certain-people">
      <input type="radio" [(ngModel)]="selectedOption" value="certain" (change)="checkButtonStatus()">
      <label for="certain-people">Bestimmte Leute hinzufügen</label>
    </div>
    <div *ngIf="selectedOption === 'certain'" class="custom-input">
      <div class="selected-users-container">
        <div *ngFor="let user of selectedUsers" class="selected-user">
          <img class="user-icon" src="{{ user.photo }}" alt="">
          <span>{{ user.username }}</span>
          <button (click)="removeUser(user)">X</button>
        </div>
      </div>
      <input type="text"
             [(ngModel)]="personName"
             placeholder="Name der Person"
             (input)="filterUsers()"
             (focus)="showUserList = true">
    </div>
    <div *ngIf="showUserList && filteredUsers.length > 0" class="user-dropdown">
      <div *ngFor="let user of filteredUsers" class="user-option" (click)="selectUser(user)">
        <img class="user-icon" src="{{ user.photo }}" alt="">{{ user.username }}
      </div>
    </div>
    <div class="dialog-add-people-to-new-channel-button">
      <button [style.background-color]="buttonColor" (click)="addUserToChannel()" [disabled]="isButtonDisabled">Erstellen</button>
    </div>
</div>
