.dialog-add-people-to-new-channel-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.dialog-add-people-to-new-channel-title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    img{
        cursor: pointer;
    }
}

.add-people-from-office{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.add-certain-people{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
}

.dialog-add-people-to-new-channel-button{
    display: flex;
    justify-content: end;
    button{
        width: 125px;
        padding: 12px 25px 12px 25px;
        height: 49px;
        color: white;
        background-color: #686868;
        border: none;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 700;
    }
}

::ng-deep.mat-mdc-dialog-container{
    --mdc-dialog-container-shape: 30px !important;
}