<div class="main">
    <div class="header">
        <div class="top-headline">
            <span class="thread">Thread</span>
            <span class="channel-name"># {{ channelService.channelName }}</span>
        </div>
        <img (click)="closeThreadWindow()" src="../../../assets/images/close.png" alt="">
    </div>

    <div class="original-message" *ngIf="currentMessage">
        <div class="creator" [ngClass]="{'justify-end': currentMessage.uid === firestoreService.currentuid, 'justify-start': currentMessage.uid !== firestoreService.currentuid}">
            <div *ngIf="currentMessage.uid === firestoreService.currentuid" class="user-avatar-container">
                <img [src]="getMemberAvatar(currentMessage.uid)" alt="" class="user-avatar">
              </div>
            <div class="conversation">
                <div class="user-timestamp">
                    <div class="user">
                        <h5>{{ currentMessage.authorName }}</h5>
                        <p>{{ currentMessage.createdAt | timestamp: 'time' }}</p>
                    </div>
                    <div class="text">
                        <p>{{ currentMessage.message }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let comment of currentMessageComments" class="history">
        <div class="creator" [ngClass]="{'justify-end': comment.uid === firestoreService.currentuid, 'justify-start': comment.uid !== firestoreService.currentuid}">
            <div class="avatar">
                <img src="../../../assets/images/avatar.png" alt="">
            </div>
            <div class="conversation">
                <div class="user-timestamp">
                    <div class="user">
                        <h5>{{ comment.authorName }}</h5>
                        <p>{{ comment.createdAt | timestamp: 'time' }}</p>
                    </div>
                    <div class="text">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator">
            <div class="line"></div>
        </div>
    </div>

    <app-text-editor [componentName]="'channelthread'"></app-text-editor>
</div>