<div class="main">
    <div class="header">
        <div class="top-headline">
            <span class="thread">Thread</span>
            <span class="channel-name"># {{ channelService.channelName }}</span>
        </div>
        <img (click)="closeThreadWindow()" src="../../../assets/images/close.png" alt="">
    </div>

    <div class="conversation">
        <div class="user-timestamp">
            <div class="user">
                <h5>{{ message.authorName }}</h5>
                <p>{{ message.createdAt | timestamp: 'time' }}Uhr</p>
            </div>
            <div class="text">
                <p>{{ message.message}}</p>
            </div>
        </div>
    </div>

    <div *ngFor="let comment of currentMessageComments" class="history">
        <div class="creator" [ngClass]="{'justify-end': comment.uid === this.firestoreService.currentuid, 'justify-start': comment.uid !== this.firestoreService.currentuid}">
            <div class="avatar">
                <img src="../../../assets/images/avatar.png" alt="">
            </div>
            <div class="conversation">
                <div class="user-timestamp">
                    <div class="user">
                        <h5>{{ comment.authorName }}</h5>
                        <p>{{ comment.createdAt | timestamp: 'time' }}</p>
                    </div>
                    <div class="text">
                        <p>{{ comment.comment }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="separator">
            <div class="line"></div>
        </div>
    </div>
    
    <app-text-editor [componentName]="'channelthread'" />
</div>