<div class="main">
    <div class="header">
        <div class="top-headline">
            <span class="thread">Thread</span>
            <span class="channel-name"># {{ channelService.channelName }}</span>
        </div>
        <img (click)="closeThreadWindow()" src="../../../assets/images/close.png" alt="">
    </div>

    <div class="scrollbar">
        <div class="original-message" *ngIf="currentMessage">
            <div class="creator" [ngClass]="{'justify-end': currentMessage.uid === firestoreService.currentuid, 'justify-start': currentMessage.uid !== firestoreService.currentuid}"
            (mouseenter)="updateHoverStateCurrentMessage(true)"
            (mouseleave)="updateHoverStateCurrentMessage(false)">
                <div *ngIf="currentMessage.uid !== firestoreService.currentuid" class="user-avatar-container">
                    <img [src]="getMemberAvatar(currentMessage.uid)" alt="" class="user-avatar">
                </div>
                <div class="conversation">
                    <div class="user-timestamp">
                        <div class="name-timestamp" [ngClass]="{'reverse-order': currentMessage.uid === firestoreService.currentuid}">
                            <span class="name" (click)="openContactInfoDialog(currentMessage.uid)">{{ currentMessage.authorName }}</span>
                            <span class="time">{{ currentMessage.createdAt | timestamp: 'time' }} Uhr</span>
                        </div>
                        <div [ngClass]="{
                            'speechbubble': currentMessage.uid !== firestoreService.currentuid,
                            'bg-color-own-message': currentMessage.uid === firestoreService.currentuid,
                            'bg-color-message': currentMessage.uid !== firestoreService.currentuid,
                            'own-message-bubble': currentMessage.uid === firestoreService.currentuid,
                            'hovered-other-message': isHovered && currentMessage.uid !== firestoreService.currentuid
                        }" *ngIf="!editedCurrentMessage">
                            <span class="message-text">{{ currentMessage.message }}</span>
                        </div>
                        <div class="edit-message-container" *ngIf="editedCurrentMessage">
                            <textarea class="edit-textarea" [(ngModel)]="editedMessageText"></textarea>
                            <div class="edit-message-buttons">
                              <div class="smiley"><img src="./../../../assets/images/smiley.png" alt=""></div>
                              <div class="buttons">
                                <button class="cancel" (click)="cancelEditingMessage()">Abbrechen</button>
                                <button class="save" (click)="saveEditedCurrentMessage()">Speichern</button>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="currentMessage.uid === firestoreService.currentuid" class="user-avatar-container">
                    <img [src]="getMemberAvatar(currentMessage.uid)" alt="" class="user-avatar">
                </div>
                <div class="popup-window-own-current-message" *ngIf="isHovered && currentMessage.uid === firestoreService.currentuid">
                    <img src="./../../../assets/images/add_reaction.png" alt="">
                    <button [matMenuTriggerFor]="editMessage" mat-icon-button (menuOpened)="menuOpenedCurrentMessage()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #editMessage="matMenu" class="profile-menu" (closed)="menuClosed()">
                      <button mat-menu-item (click)="startEditingCurrentMessage(currentMessage.message)">Nachricht bearbeiten</button>
                    </mat-menu>
                </div>
                <div class="popup-window-current-message" *ngIf="isHovered && currentMessage.uid !== firestoreService.currentuid">
                    <img src="./../../../assets/images/add_reaction.png" alt="">
                </div>
            </div>
        </div>

        <div class="separator">
            <div class="amount-answers">{{ currentMessage.commentCount }} Antworten</div>
            <div class="line"></div>
        </div>

        <div *ngFor="let comment of currentMessageComments; let i = index" class="history"
        (mouseenter)="updateHoverState(i, true)"
        (mouseleave)="updateHoverState(i, false)">
            <div class="creator" [ngClass]="{'justify-end': comment.uid === firestoreService.currentuid, 'justify-start': comment.uid !== firestoreService.currentuid}">
                <div class="conversation">
                    <div *ngIf="comment.uid !== firestoreService.currentuid" class="user-avatar-container">
                        <img [src]="getMemberAvatar(comment.uid)" alt="" class="user-avatar">
                    </div>
                    <div class="user-timestamp">
                        <div class="name-timestamp" [ngClass]="{'reverse-order': comment.uid === firestoreService.currentuid}">
                            <span class="name" (click)="openContactInfoDialog(comment.uid)">{{ comment.authorName }}</span>
                            <span class="time">{{ comment.createdAt | timestamp: 'time' }} Uhr</span>
                        </div>
                        <div [ngClass]="{
                            'speechbubble': comment.uid !== firestoreService.currentuid,
                            'bg-color-own-message': comment.uid === firestoreService.currentuid,
                            'bg-color-message': comment.uid !== firestoreService.currentuid,
                            'own-message-bubble': comment.uid === firestoreService.currentuid,
                            'hovered-other-message': isHoveredArray[i] && comment.uid !== firestoreService.currentuid
                        }" *ngIf="editingCommentIndex !== i">
                            <span class="message-text">{{ comment.comment }}</span>
                        </div>
                        <div class="edit-message-container" *ngIf="editingCommentIndex === i">
                            <textarea class="edit-textarea" [(ngModel)]="editedCommentText"></textarea>
                            <div class="edit-message-buttons">
                              <div class="smiley"><img src="./../../../assets/images/smiley.png" alt=""></div>
                              <div class="buttons">
                                <button class="cancel" (click)="cancelEditingMessage()">Abbrechen</button>
                                <button class="save" (click)="saveEditedComment(i)">Speichern</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="comment.uid === firestoreService.currentuid" class="user-avatar-container">
                        <img [src]="getMemberAvatar(comment.uid)" alt="" class="user-avatar">
                    </div>
                </div>
            </div>
            <div class="popup-window-own-message" *ngIf="isHoveredArray[i] && comment.uid === firestoreService.currentuid">
                <img src="./../../../assets/images/add_reaction.png" alt="">
                <button [matMenuTriggerFor]="editMessage" mat-icon-button (menuOpened)="menuOpened(i)">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #editMessage="matMenu" class="profile-menu" (closed)="menuClosed()">
                  <button mat-menu-item (click)="startEditingComment(i, comment.comment)">Nachricht bearbeiten</button>
                </mat-menu>
              </div>
              <div class="popup-window" *ngIf="isHoveredArray[i] && comment.uid !== firestoreService.currentuid">
                <img src="./../../../assets/images/add_reaction.png" alt="">
              </div>
        </div>
    </div>

    <app-text-editor [componentName]="'channelthread'"></app-text-editor>
</div>