<div class="profile-dialog-container">
    <div class="profile-title"><span class="edit-profile-title">Dein Profil bearbeiten</span><img class="back-button" src="./../../assets/images/close.png" alt="" (click)="closeEditProfileDialog()"></div>
    <div class="avatar-big">
      <img class="user-icon" [src]="userPhoto" alt="User Photo">

        <div class="choose-image-container">
          <div>
            <button  (click)="changeUserIcon()" class="upload-button">
              <img src="./../../assets/images/upload.png">
            </button>
          </div>
          <div>
            <label class="choose-image-label" for="profile-picture-input">
              <img src="./../../assets/images/add_a_photo_24dp_FILL0_wght400_GRAD0_opsz24 (2).png">
            </label>
            <input class="choose-image-input" type="file" name="profile-picture" accept="image/*" id="profile-picture-input">
          </div>
        </div>
    </div>
    <div class="input-area">
        <div class="edit-name">
            <div class="edit-name-title"><img src="./../../assets/images/account_icon.png" alt=""><span class="full-name">Vollständiger Name</span>
            </div>
            <input type="text" name="" id="userNameInput" value="{{ userName }}">
        </div>
        <div class="edit-email">
            <div class="edit-email-title"><img src="./../../assets/images/mail.png" alt=""><span class="email-address">E-Mail-Adresse</span></div>
            <input type="text" name="" id="userEmailInput" value="{{ userEmail }}">
        </div>
    </div>
    <div class="button-area">
      <button (click)="closeEditProfileDialog()" class="cancel-button">Abbrechen</button>
      <button (click)="safeEditData()" class="safe-button">Speichern</button>
    </div>
</div>
