<div class="loading-screen">
  <mat-progress-bar *ngIf="loadingScreen" mode="indeterminate"></mat-progress-bar>
</div>
<div class="profile-dialog-container">
    <div class="profile-title"><span class="edit-profile-title">Dein Profil bearbeiten</span><img class="back-button" src="./../../assets/images/close.png" alt="" (click)="closeEditProfileDialog()"></div>
    <div class="avatar-big">
      <img *ngIf="!imageSelected" class="user-icon" [src]="userPhoto" alt="User Photo">
      <img *ngIf="imageSelected" class="image" id="profile-picture-preview" [src]="imageSrc" alt="Ihr Bild" style="height: 200px; width: 200px; border-radius: 500px;"/>

        <div class="choose-image-container">
          <div>
            <label class="choose-image-label" for="profile-picture-input">
            </label>
            <input class="choose-image-input" type="file" name="profile-picture" accept="image/*" id="profile-picture-input" (change)="onImageSelected($event)">
          </div>
        </div>
    </div>
    <div class="input-area">
        <div class="edit-name">
            <div class="edit-name-title"><img src="./../../assets/images/account_icon.png" alt=""><span class="full-name">Vollständiger Name</span>
            </div>
            <input type="text" name="" id="userNameInput" value="{{ userName }}">
        </div>
        <div class="edit-email">
            <div class="edit-email-title"><img src="./../../assets/images/mail.png" alt=""><span class="email-address">E-Mail-Adresse</span></div>
            <input type="text" name="" id="userEmailInput" value="{{ userEmail }}">

            <div class="email-input-information" *ngIf="!emailVerified">
              <span>Email noch nicht bestätigt.</span>
              <a (click)="sendNewVerificationMail()">Send mail</a>
            </div>

            <div class="email-input-information">
              <div *ngIf="showInputInformationEmail">
                <span>Vor dem ändern der Email musst du dich erneut anmelden. Log dich<a (click)="logOut()">hier</a> aus.</span>
              </div>
              <div *ngIf="showInputInformationEmailInUse">
                <span>Die Email wird bereits von einen anderen Konto benutzt.</span>
              </div>
             </div>

        </div>
    </div>
    <div class="button-area">
      <div class="button-section-1">
        <button (click)="deleteUserAccount()" class="delete-button">Konto löschen</button>
      </div>
      <div class="button-section-2">
        <button (click)="closeEditProfileDialog()" class="cancel-button">Abbrechen</button>
        <button (click)="safeEditData()" class="safe-button">Speichern</button>
      </div>
    </div>
</div>
