.profile-dialog-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 45px 40px 45px 40px;
    a{
        margin-top: 30px;
    }
}

.profile-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.edit-profile-title{
    font-size: 24px;
    font-weight: 700;
}

.avatar-big{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .upload-button {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 260px;
      right: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        filter: brightness(0.7);
      }

      img {
        height: 30px;
        width: 30px;
      }
    }

    img{
      height: 200px;
      width: 200px;
      border-radius: 500px;
    }
}

.input-area{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.full-name{
    font-size: 20px;
    font-weight: 700;
}

.email-address{
    font-size: 20px;
    font-weight: 700;
}

.edit-name-title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-email-title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-name{
    display: flex;
    flex-direction: column;
    gap: 7px;
    input{
        border-radius: 30px;
        padding: 15px 20px 15px 20px;
        width: calc(100% - 40px);
        height: 17px;
        border: 1px solid #ADB0D9;
    }
}

.edit-email{
    display: flex;
    flex-direction: column;
    gap: 7px;
    input{
        border-radius: 30px;
        padding: 15px 20px 15px 20px;
        width: calc(100% - 40px);
        height: 17px;
        border: 1px solid #ADB0D9;
    }
}

.button-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;

  .safe-button {
    border: none;
    background-color: #444DF2;
    color: white;
    font-size: 18px;
    width: 153px;
    height: 49px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      filter: brightness(1.6);
    }
  }

  .cancel-button {
    font-size: 18px;
    border: 1px solid #797EF3;
    color: #797EF3;
    width: 153px;
    height: 49px;
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      background-color: #444DF2;
      color: white;
    }
  }
}

::ng-deep.mat-mdc-dialog-surface{
    border-radius: 30px 0px 30px 30px !important;
}

::ng-deep.cdk-global-overlay-wrapper{
    justify-content: end !important;
    align-items: start !important;
}

::ng-deep.mat-mdc-dialog-panel{
    margin-top: 110px !important;
    margin-right: 45px !important;
}
