.main {
  height: calc(80vh + 20px);
  display: flex;
  flex-direction: column;

  .header-thread {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 38px 40px 38px 40px;
    box-shadow: 0 4px 2px rgba(225, 225, 225, 0.5);

    img {
      height: 24px;
      width: 24px;
      padding: 7.5px;
      border-radius: 100%;
      &:hover {
        cursor: pointer;
        background-color: rgba(236, 238, 254, 1);
      }
    }

    .top-headline {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: 100%;
      gap: 5%;

      .thread {
        font-size: 24px;
        font-weight: 700;
      }

      .channel-name {
        font-size: 14px;
        font-weight: 400;
        color: #797EF3;
        width: 130px;
      }
    }
  }
}




// ---------
.test {
  height: 430px;

  .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin: 0 auto;

    .separator-line {
      background-color: rgba(173, 176, 217, 1);
      height: 1px;
      width: 40%;
    }

    .separator-date {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      padding: 1% 2%;
      border: 1px solid rgba(173, 176, 217, 1);
      border-radius: 30px;
    }
  }

  .conversation-container {
    position: relative;
    display: flex;
    padding: 6px 75px;
    gap: 20px;
    margin-top: 10px;

    &:hover {
      background-color: rgba(236, 238, 254, 1);

      .speechbubble {
        background-color: white;
      }
    }

    .message-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      .user-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      .message {
        display: flex;
        flex-direction: column;

        .message-user-information {
          display: flex;
          align-items: center;
          gap: 10px;

          a {
            text-decoration: none;
            color: black;
          }

          a:hover {
            cursor: pointer;
            color: rgba(83, 90, 241, 1);
          }

          h4 {
            margin: 0;
          }

          .time {
            font-size: 14px;
            font-weight: 400;
            color: #686868;
          }
        }

        .reaction-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-left: 10px;
          margin-top: 10px;
          gap: 10px;

          .open-thread {

            a {
              text-decoration: none;
              color: #535AF1;

              &:hover {
                cursor: pointer;

                h4 {
                  font-weight: 600;
                }
              }

              h4 {
                font-size: 18px;
                margin: 0;
              }
            }
          }

          .emoji-reaction-container {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .reaction-sub-container {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              border: 1px solid grey;
              border-radius: 10px;
              width: 50px;
              height: 30px;
              background-color: transparent;

              &:hover {
                cursor: pointer;
                background-color: rgb(195, 193, 193);
              }
            }
          }

          .add-reaction-button {
            border: none;
            background-color: transparent;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.message-image {
  max-width: 100px !important;
    max-height: 100px !important;

  img {
    max-width: 100px !important;
    max-height: 100px !important;
  }
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.additional-members {
  font-size: 20px;
  font-weight: 600;
}

.row-reverse {
  flex-direction: row-reverse;
}

.speechbubble {
  padding: 15px;
  background-color: #ECEEFE;
  border-radius: 0px 30px 30px 30px;
}

.own-message-bubble {
  padding: 15px;
  background-color: #797EF3;
  border-radius: 30px 0px 30px 30px;
  color: white;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.popup-window {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  top: -18px;
  right: 20px;
  height: 46px;
  border: 1px solid;
  border-radius: 25px 25px 0px 25px;
  padding: 3px 15px 3px 20px;
  background-color: white;

  .emoji-icons {
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 100%;
    &:hover{
      background-color: #ECEEFE;
      cursor: pointer;
    }
  }
}

.popup-window-own-message {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  top: -18px;
  left: 20px;
  height: 46px;
  border: 1px solid;
  border-radius: 25px 25px 0px 25px;
  padding: 3px 15px 3px 20px;
  background-color: white;
  .emoji-icons {
    height: 20px;
    width: 20px;
    padding: 10px;
    border-radius: 100%;
    &:hover{
      background-color: #ECEEFE;
      cursor: pointer;
    }
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: calc(80vh + 20px);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.separator-line {
  background-color: rgba(173, 176, 217, 1);
  height: 1px;
  width: 40%;
}

.separator-date {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 1% 2%;
  border: 1px solid rgba(173, 176, 217, 1);
  border-radius: 30px;
}

.conversation-container {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 6px 75px;
  &:hover {
      background-color: rgba(236, 238, 254, 1);
  }
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name-timestamp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  h5 {
    cursor: pointer;
    &:hover {
      color: rgba(83, 90, 241, 1);
    }
  }
}

.name-timestamp.reverse-order {
  display: flex;
  flex-direction: row-reverse;
}

.answers {
  color: #535AF1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.last-answer {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.name {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: rgba(83, 90, 241, 1);
  }
}

.time {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.message-text {
  font-size: 18px;
  font-weight: 400;
}

.reply {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  a {
    color: rgba(83, 90, 241, 1);
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
  }

  .emoji-reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 30px;
    border: 1px solid lightgrey ;
    padding: 4px 10px 4px 10px;
    border-radius: 20px;
    gap: 5px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: green;
    }
  }
}

.hovered-other-message {
  background-color: white !important;
}

.edit-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;

  .edit-textarea {
    width: 90%;
    height: auto;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    resize: none;
  }

  .edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .save-button, .cancel-button {
      padding: 5px 10px;
      font-size: 14px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .save-button {
      background-color: #444DF2;

      &:hover {
        filter: brightness(1.6);
      }
    }

    .cancel-button {
      background-color: white;
      color: black;

      &:hover {
        background-color: #444DF2;
        color: white;
      }
    }
  }
}

.emoji-picker-container {
  position: absolute;
  z-index: 1000;
  top: 0;
}
