.log-in-card-container {
  display: flex;
  justify-content: center;

  .log-in-card {
    height: 769px;
    width: 606px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;

    .card-header-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      gap: 30px;

        h1 {
          color: #797EF3;
          font-size: 46px;
        }

        span {
          text-align: center;
          font-size: 20px;
        }
    }

    .card-input-section {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-container {
        display: flex;
        align-items: center;
        width: 500px;
        height: 60px;
        border-radius: 30px;
        background-color: #ECEEFE;
        margin: 20px;
        border: 1px solid transparent;

        .show-password-button {
          cursor: pointer;
        }

        &:hover {
          border: 1px solid black;
        }

        img {
          padding-left: 20px;
        }

        input {
          margin-left: 14px;
          width: 400px;
          height: 40px;
          border: none;
          background-color: #ECEEFE;
          font-size: 18px;
        }

        input:focus {
          outline: none;
        }
      }

      .pseudo {
        height: 20px;

        .input-information {
          color: red;
          display: flex;
          justify-content: flex-start;
          width: 450px;
        }
      }

      .card-link {
        margin-top: 30px;
        width: 240px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          cursor: pointer;
          text-decoration: none;
          color: #797EF3;
          font-size: 18px;
        }

        &:hover {
          background-color: #ECEEFE;
          border-radius: 25px;

          a {
            font-family: 'nunito-bold';
          }
        }

        &:active {
          background-color: #565bf4;

          a {
            font-family: 'nunito-bold';
            color: white;
          }
        }
      }
    }

    .seperation-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 30px;

      .line {
        height: 1px;
        background-color: #ADB0D9;
        width: 200px;
      }

      span {
        font-size: 18px;
      }
    }

    .google-login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .google-button {
        width: 250px;
        height: 60px;
        border-radius: 30px;
        background-color: #ECEEFE;
        margin-top: 30px;
        border: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
        color: #797EF3;
        cursor: pointer;

        img {
          height: 38px;
          width: 38px;
        }


        &:hover {
          cursor: pointer;
          transform: scale(1.02);
          border: 1px solid #797EF3;
          font-family: 'nunito-extra-bold';
        }
      }
    }

    .login-button-container {
      gap: 20px;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .user-login {
        border: none;
        background-color: #444DF2;
        color: white;
        font-size: 18px;
        width: 153px;
        height: 49px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.6);
        }
      }

      .guest-login {
        font-size: 18px;
        border: 1px solid #797EF3;
        color: #797EF3;
        width: 153px;
        height: 49px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          background-color: #444DF2;
          color: white;
        }
      }
    }
  }
}
