<div class="log-in-card-container">

  <div class="log-in-card">

    <div class="card-header-section">
      <h1>Anmeldung</h1>
      <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die <br> du bei der Arbeit verwendest.</span>
    </div>

    <div class="card-input-section">

      <div class="input-container">
        <img src="./../../../assets/images/mail.svg">
        <input placeholder="MaxMustermann@gmail.com">

      </div>

      <div class="input-container">
        <img src="./../../../assets/images/lock.svg">
        <input placeholder="Passwort">
      </div>

      <div class="card-link">
        <a href="#">Passwort vergessen ?</a>
      </div>

    </div>

  </div>

</div>
