<div class="log-in-card-container">

  <div class="log-in-card">

    <div class="card-header-section">
      <h1>Anmeldung</h1>
      <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die <br> du bei der Arbeit verwendest.</span>
    </div>

    <form (ngSubmit)="userLogIn(logInForm)" #logInForm="ngForm">
    <div class="card-input-section">
      <div class="input-container">
        <img src="./../../../assets/images/mail.svg">
        <input ngModel required name="email" #email="ngModel" placeholder="MaxMustermann@gmail.com">
      </div>
      <div class="pseudo">
        <span *ngIf="showInputInformationEmail" class="input-information">Diese E-Mail-Adresse ist leider ungultig.</span>
      </div>
      <div class="input-container">
        <img src="./../../../assets/images/lock.svg">
        <input ngModel required type="password" name="password" #password="ngModel" placeholder="Passwort">
      </div>
      <div class="pseudo">
        <span *ngIf="showInputInformationPassword" class="input-information">Dieses Passwort ist leider ungultig.</span>
      </div>
      <div class="card-link">
        <a (click)="openForgetPasswordComponent()">Passwort vergessen ?</a>
      </div>
    </div>

    <div class="seperation-line">
      <div class="line"></div>
      <span>ODER</span>
      <div class="line"></div>
    </div>

   <div class="google-login-container">
    <button (click)="logInWithGoogle()" class="google-button">
      <img src="./../../../assets/images/google.png">
      Anmelden mit Google
    </button>

    <button (click)="logInWithApple()" class="google-button">
      <img src="./../../../assets/images/apple-logo.png">
     Anmelden mit Apple
    </button>
   </div>

    <div class="login-button-container">
     <div>
      <button type="submit" class="user-login">Anmelden</button>
     </div>
      <div>
        <button (click)="guestLogIn()" class="guest-login">Gäste-Login</button>
      </div>
    </div>
  </form>
  </div>

</div>
