.log-in-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center ;

  .log-in-card {
    height: 769px;
    width: 606px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;

    .loading-screen {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(128, 128, 128, 0.666);
      height: 649px;
      width: 606px;
      border-radius: 30px;
      z-index: 200;
    }

    .card-header-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      gap: 30px;



        h1 {
          color: #797EF3;
          font-size: 46px;
        }

        span {
          text-align: center;
          font-size: 20px;
        }
    }

    .card-input-section {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-container {
        display: flex;
        align-items: center;
        width: 500px;
        height: 60px;
        border-radius: 30px;
        background-color: #ECEEFE;
        margin: 20px;
        border: 1px solid transparent;

        .show-password-button {
          cursor: pointer;
        }

        &:hover {
          border: 1px solid black;
        }

        img {
          padding-left: 20px;
        }

        input {
          margin-left: 14px;
          width: 400px;
          height: 40px;
          border: none;
          background-color: #ECEEFE;
          font-size: 18px;
        }

        input:focus {
          outline: none;
        }
      }

      .pseudo {
        height: 20px;

        .input-information {
          color: red;
          display: flex;
          justify-content: flex-start;
          width: 450px;

          a {
            color: #444DF2;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
              color: #797EF3;
            }
          }
        }
      }

      .card-link {
        margin-top: 30px;
        width: 240px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          cursor: pointer;
          text-decoration: none;
          color: #797EF3;
          font-size: 18px;
        }

        &:hover {
          background-color: #ECEEFE;
          border-radius: 25px;

          a {
            font-family: 'nunito-bold';
          }
        }

        &:active {
          background-color: #565bf4;

          a {
            font-family: 'nunito-bold';
            color: white;
          }
        }
      }
    }

    .seperation-line {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin-top: 30px;

      .line {
        height: 1px;
        background-color: #ADB0D9;
        width: 200px;
      }

      span {
        font-size: 18px;
      }
    }

    .google-login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .google-button {
        width: 500px;
        height: 60px;
        border-radius: 30px;
        background-color: #ECEEFE;
        margin-top: 30px;
        border: 1px solid transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 16px;
        color: #797EF3;

        img {
          height: 38px;
          width: 38px;
        }


        &:hover {
          cursor: pointer;
          transform: scale(1.02);
          border: 1px solid #797EF3;
          font-family: 'nunito-extra-bold';
        }
      }
    }

    .login-button-container {
      gap: 20px;
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .user-login {
        border: none;
        background-color: #444DF2;
        color: white;
        font-size: 18px;
        width: 153px;
        height: 49px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          filter: brightness(1.6);
        }
      }

      .guest-login {
        font-size: 18px;
        border: 1px solid #797EF3;
        color: #797EF3;
        width: 153px;
        height: 49px;
        border-radius: 25px;
        cursor: pointer;

        &:hover {
          background-color: #444DF2;
          color: white;
        }
      }
    }
  }
}

@media screen and (min-height: 1100px) {
  .log-in-card-container {
    margin-top: 100px;
  }
}

@media screen and (min-height: 1050px) {
  .log-in-card-container {

    .log-in-card {
     height: 650px;

     .card-header-section {
      padding-top: 30px;
      gap: 10px;

      h1 {
        font-size: 34px;
      }

      span {
        font-size: 16px;
      }
     }

      .card-input-section {
        margin-top: 20px ;

        .input-container {
          margin: 10px;

          img {
            padding-left: 20px;
          }
        }

        .card-link {
          margin-top: 20px;
        }
      }

      .seperation-line {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-height: 1050px) {
  .log-in-card-container {

    .log-in-card {
     height: 650px;

     .card-header-section {
      padding-top: 30px;
      gap: 10px;

      h1 {
        font-size: 34px;
      }

      span {
        font-size: 16px;
      }
     }

      .card-input-section {
        margin-top: 20px ;

        .input-container {
          margin: 10px;

          img {
            padding-left: 20px;
          }
        }

        .card-link {
          margin-top: 20px;
        }
      }

      .seperation-line {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 650px) and (min-height: 1050px) {

  .log-in-card-container {

    .log-in-card {
     width: 90vw;

      .card-input-section {

        .input-container {
          width: 80vw;
          height: 60px;

          input {
            width: 55vw;
          }
        }

        .pseudo {

          .input-information {

            width: 70vw;
          }
        }
      }

      .seperation-line {

        .line {
          width: 30vw;
        }
      }

      .google-login-container {

        .google-button {
          width: 80vw;

          img {
            height: 34px;
            width: 34px;
          }
        }
      }

      .login-button-container {

        .user-login {
          width: 35vw;
        }

        .guest-login {
          width: 35vw;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) and (min-height:  1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {
        padding-top: 20px;

          h1 {
            font-size: 30px;
          }

          span {
            font-size: 14px;
          }
      }
    }
  }
}

@media screen and (max-width: 400px) and (min-height: 1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 28px;
          }

          span {
            font-size: 12px;
          }
      }

      .card-input-section {

        .input-container {

          input {
            font-size: 14px;
          }
        }

        .pseudo {

          .input-information {
          font-size: 10px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 340px) and (min-height:  1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 28px;
          }

          span {
            font-size: 10px;
          }
      }

      .card-input-section {

        .input-container {

          input {
            font-size: 14px;
            height: 28px;
          }
        }
      }

      .login-button-container {

        .user-login {
          font-size: 16px;
        }

        .guest-login {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) and (max-height: 1050px) {

  .log-in-card-container {

    .log-in-card {
     width: 90vw;

      .card-input-section {

        .input-container {
          width: 80vw;
          height: 60px;

          input {
            width: 55vw;
            height: 28px;
          }
        }

        .pseudo {

          .input-information {

            width: 70vw;
          }
        }
      }

      .seperation-line {

        .line {
          width: 30vw;
        }
      }

      .google-login-container {

        .google-button {
          width: 80vw;

          img {
            height: 34px;
            width: 34px;
          }
        }
      }

      .login-button-container {

        .user-login {
          width: 35vw;
        }

        .guest-login {
          width: 35vw;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) and (max-height:  1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {
        padding-top: 20px;

          h1 {
            font-size: 30px;
          }

          span {
            font-size: 14px;
          }
      }
    }
  }
}

@media screen and (max-width: 400px) and (max-height: 1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 28px;
          }

          span {
            font-size: 12px;
          }
      }

      .card-input-section {

        .input-container {

          input {
            font-size: 14px;
            height: 28px;
          }
        }

        .pseudo {

          .input-information {
          font-size: 10px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 340px) and (max-height:  1050px){

  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 28px;
          }

          span {
            font-size: 10px;
          }
      }

      .card-input-section {

        .input-container {

          input {
            font-size: 14px;
            height: 28px;
          }
        }
      }

      .login-button-container {

        .user-login {
          font-size: 16px;
        }

        .guest-login {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-height: 940px) {
  .log-in-card-container {

    .log-in-card {
      height: 550px;

      .card-header-section {
        padding-top: 10px;
        gap: 10px;


          h1 {
            font-size: 38px;
          }

          span {
            font-size: 16px;
          }
      }

      .card-input-section {
        margin-top: 20px;

        .input-container {
          height: 45px;

          input {
            font-size: 16px;
            height: 30px;
          }
        }

        .card-link {
          margin-top: 10px;
        }
      }

      .google-login-container {
        gap: 10px;

        .google-button {
          height: 50px;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }

      .login-button-container {
        margin-top: 20px;
      }
    }
  }
}


@media screen and (max-width: 460px) and (max-height: 940px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 34px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 340px) and (max-height: 940px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 11px;
          }
      }
    }
  }
}

@media screen and (max-height: 840px) {
  .log-in-card-container {

    .log-in-card {
      height: 550px;

      .card-header-section {
        padding-top: 10px;
        gap: 10px;


          h1 {
            font-size: 38px;
          }

          span {
            font-size: 16px;
          }
      }

      .card-input-section {
        margin-top: 20px;

        .input-container {
          height: 45px;

          input {
            font-size: 16px;
            height: 30px;
          }
        }

        .card-link {
          margin-top: 10px;
        }
      }

      .google-login-container {
        gap: 10px;

        .google-button {
          height: 50px;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }

      .login-button-container {
        margin-top: 20px;
      }
    }
  }
}

@media screen and (max-width: 440px) and  (max-height: 840px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 34px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 840px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 11px;
          }
      }
    }
  }
}

@media screen and (max-height: 820px) {
  .log-in-card-container {

    .log-in-card {
     height: 480px;

     .card-header-section {
      gap: 0px;

      h1 {
        font-size: 32px;
      }

      span {
        font-size: 16px;
      }
     }

      .card-input-section {
        margin-top: 20px ;

        .card-link {
          margin-top: 5px;
        }
      }

      .seperation-line {
        margin-top: 10px;
      }

      .google-login-container {
        gap: 10px;

        .google-button {
          height: 40px;
          margin-top: 15px;
          gap: 20px;
          font-size: 16px;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }

      .login-button-container {
        gap: 20px;
        margin-top: 10px;

        .user-login {
          width: 200px;
          height: 40px;
        }

        .guest-login {
          width: 200px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) and (max-height: 820px) {
  .log-in-card-container {

    .log-in-card {

      .login-button-container {

        .user-login {
          width: 35vw;
        }

        .guest-login {
          width: 35vw;
        }
      }
    }
  }
}

@media screen and (max-width: 440px) and (max-height: 820px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 820px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          span {
            font-size: 11px;
          }
      }

      .card-input-section {

        .input-container {

          img {
            padding-left: 15px;
          }

          input {
            height: 28px;
            font-size: 14px;
          }
        }

        .pseudo {
          height: 15px;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-height: 680px) {
  .log-in-card-container {

    .log-in-card {
     height: 440px;

     .card-header-section {
      gap: 0px;

      h1 {
        font-size: 28px;
      }

      span {
        font-size: 14px;
      }
     }

      .card-input-section {
        margin-top: 10px ;

        .input-container {
          height: 35px;

          input {
            height: 28px;
            font-size: 14px;
          }
        }

        .pseudo {
          height: 15px;

          .input-information {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) and (max-height: 680px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 680px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          span {
            font-size: 11px;
          }
      }
    }
  }
}


@media screen and (max-height: 630px) {
  .log-in-card-container {

    .log-in-card {
     height: 400px;

     .card-header-section {
      gap: 0;

      h1 {
        font-size: 28px;
        margin-bottom: 5px;
      }

      span {
        font-size: 14px;
      }
     }

      .card-input-section {

        .input-container {
          margin-bottom: 0;

          img {
            height: 20px;
            width: 20px;
          }
        }

        .pseudo {
          height: 10px;

          .input-information {
            font-size: 10px;
            align-items: center;
          }
        }

        .card-link {

          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) and (max-height: 630px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 630px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          span {
            font-size: 11px;
          }
      }
    }
  }
}

@media screen and (max-height: 570px) {
  .log-in-card-container {

    .log-in-card {
     height: 350px;

     .card-header-section {
      gap: 0;

      h1 {
        font-size: 28px;
        margin-bottom: 5px;
      }

      span {
        font-size: 14px;
      }
     }

      .card-input-section {

        .input-container {
          margin-bottom: 0;

          img {
            height: 20px;
            width: 20px;
          }
        }

        .pseudo {
          height: 10px;

          .input-information {
            font-size: 10px;
            align-items: center;
          }
        }

        .card-link {
          margin-top: 5px;
          width: 200px;
          height: 16px;

          a {
            font-size: 10px;
          }
        }
      }

      .seperation-line {

        span {
          font-size: 12px;
        }
      }

      .google-login-container {

        .google-button {
          height: 30px;
          margin-top: 0;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }

      .login-button-container {

        .user-login {
          height: 30px;
        }

        .guest-login {
          height: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) and (max-height: 570px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          h1 {
            font-size: 32px;
          }

          span {
            font-size: 12px;
          }
      }
    }
  }
}

@media screen and (max-width: 350px) and (max-height: 570px) {
  .log-in-card-container {

    .log-in-card {

      .card-header-section {

          span {
            font-size: 11px;
          }
      }
    }
  }
}
