<div class="create-channel-container">
    <div class="create-channel-title">
        <h2>Channel erstellen</h2>
        <img (click)="closeCreateChannelDialog()" src="./../../assets/images/close.png">
    </div>
    <span>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</span>
    <form #channelForm="ngForm" (ngSubmit)="createChannel()" class="create-channel-form">
        <label>Channel-Name</label>
        <input type="text" name="channelName" id="channelName" [(ngModel)]="channelName" placeholder="z.B. Kooperationsprojekte" required>
        <label>Beschreibung <span class="optional">(optional)</span></label>
        <input type="text" name="channelDescription" id="channelDescription" [(ngModel)]="channelDescription" placeholder="Dein Text hier">
        <div class="create-channel-button">
            <button type="submit" [disabled]="!channelForm.valid" [ngStyle]="{ 'background-color': channelForm.valid ? '' : 'rgb(104, 104, 104)' }">Erstellen</button>
        </div>
    </form>
</div>