.profile-dialog-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 45px 40px 45px 40px;
    gap: 10px;
    a{
        margin-top: 10px;
        margin-left: 50px;
        color: #1381FF;
        text-decoration: none;
    }

    .email-span {
      color: #1381FF;
      margin-left: 50px;
    }
}

.profile-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        height: 24px;
        width: 24px;
        cursor: pointer;
    }
}

.profile-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-full-name{
    font-size: 32px;
    font-weight: 700;
}

.avatar-big{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    img{
        height: 200px;
        width: 200px;
        border-radius: 500px;
    }
}

.status{
    height: 27px;
    width: 88px;
    margin-top: 20px;
}

.email{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.edit-button{
    color: #535AF1;
    cursor: pointer;
}

.edit-button-mobile {
    display: flex;
    align-items: center;
}

.profile-title-left{
    font-size: 24px;
    font-weight: 700;
}

::ng-deep.mat-mdc-dialog-surface{
    border-radius: 30px 0px 30px 30px !important;
}

::ng-deep.cdk-global-overlay-wrapper{
    justify-content: end !important;
    align-items: start !important;
}

::ng-deep.mat-mdc-dialog-panel{
    margin-top: 110px !important;
    margin-right: 45px !important;
}

.back-button {
  height: 24px;
  width: 24px;

  &:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(95%)
    saturate(2195%) hue-rotate(217deg) brightness(95%) contrast(89%);
    cursor: pointer;
  }
}

@media(max-width: 850px) {
    ::ng-deep.mat-mdc-dialog-panel {
        margin-right: 20px !important;
        margin-left: 20px;
    }

    ::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
        --mat-dialog-container-small-max-width: 100vw !important;
        max-width: var(--mat-dialog-container-small-max-width, 100vw) !important;
        width: calc(100vw - 40px) !important;
    }

    .profile-dialog-container {
        padding: 45px 20px 45px 20px;
        width: calc(100vw - 80px);
    }

    ::ng-deep.mat-mdc-dialog-surface{
        border-radius: 30px !important;
    }
}