<div class="profile-dialog-container">
    <div class="profile-title"><span class="profile-title-left">Profil</span>
      <img class="back-button" src="./../../assets/images/close.png" alt="" (click)="closeProfileDialog()">
    </div>
    <div class="avatar-big"><img src="{{ userPhoto }}" alt=""></div>
    <div class="profile-name">
      <span class="profile-full-name">{{ userName }}</span>
      <div (click)="openDialogEditProfile()" class="edit-button">Bearbeiten</div>
    </div>
    <img class="status" src="./../../assets/images/active.png" alt="">
    <div class="email">
        <img src="./../../assets/images/mail.png" alt="">
        <span>E-Mail-Adresse</span>
    </div>
    <span class="email-span">{{ userEmail }}</span>
    <span class="timestamp-span">Mitglied seit dem {{ formattedDate }}</span>
</div>
