<div class="forgot-password-card-container">

  <div class="forgot-password-card">

    <div class="card-header-section">
      <button (click)="backToForgotPassword()" class="back-to-log-in-button">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Passwort zurücksetzten</h1>
    </div>

    <div class="card-input-section">
      <div class="input-container">
        <input placeholder="Neues Passwort">
      </div>

      <div class="input-container">
        <input placeholder="Neues Kennwort bestätigen">
      </div>
    </div>

    <div class="continue-button-container">
      <button (click)="emailSended()" class="continue-button">Passwort ändern</button>
    </div>

  </div>

</div>


