<div class="forgot-password-card-container">
  <div class="overlay" *ngIf="changedPassword"></div>

  <div class="forgot-password-card">

    <div class="card-header-section">
      <!-- <button (click)="backToForgotPassword()" class="back-to-log-in-button">
        <img src="./../../../assets/images/arrow_back.png">
      </button> -->
      <h1>Passwort zurücksetzten</h1>
    </div>

    <form (ngSubmit)="newPassword(newPasswordForm)" #newPasswordForm="ngForm">

      <div class="card-input-section">
        <div class="input-container">
          <img class="show-password-button" *ngIf="!showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock.svg">
          <img class="show-password-button" *ngIf="showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock_open_20dp_FILL0_wght400_GRAD0_opsz20.svg">
          <input type="password" id="password" ngModel required name="password" autocomplete="new-password" #password="ngModel" placeholder="Neues Passwort">
        </div>
        <div class="pseudo">
          <span *ngIf="showInputInformationPassword" class="input-information">Bitte geben Sie ein Passwort an.</span>
        </div>

        <div class="input-container">
          <img class="show-password-button" *ngIf="!showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock.svg">
          <img class="show-password-button" *ngIf="showPasswordValue" (click)="showPassword()" src="./../../../assets/images/lock_open_20dp_FILL0_wght400_GRAD0_opsz20.svg">
          <input type="password" id="confirmPassword" ngModel required name="confirmPassword" autocomplete="new-password" #confirmPassword="ngModel" placeholder="Neues Kennwort bestätigen">
        </div>
        <div class="pseudo">
          <span *ngIf="showInputInformationConfirmPasswordInputEmpty" class="input-information">Bitte bestätigen Sie Ihr Passwort.</span>
          <span *ngIf="showInputInformationConfirmPasswordInputInvalid" class="input-information">Die Passwörter stimmen nicht überein.</span>
        </div>
      </div>

      <div class="continue-button-container">
        <button type="submit" class="continue-button">Passwort ändern</button>
      </div>
    </form>

  </div>

  <div  *ngIf="changedPassword"  class="email-send-container">
    <span>Passwort geändert</span>
  </div>

</div>


