<div class="forgot-password-card-container">

  <div class="forgot-password-card">

    <div class="card-header-section">
      <button (click)="backToForgotPassword()" class="back-to-log-in-button">
        <img src="./../../../assets/images/arrow_back.png">
      </button>
      <h1>Passwort zurücksetzten</h1>
    </div>

    <form (ngSubmit)="newPassword(newPasswordForm)" #newPasswordForm="ngForm">

      <div class="card-input-section">
        <div class="input-container">
          <input type="password" ngModel required name="password" autocomplete="new-password" #password="ngModel" placeholder="Neues Passwort">
        </div>
        <div class="pseudo">
          <span *ngIf="showInputInformationPassword" class="input-information">Bitte geben Sie ein Passwort an.</span>
        </div>

        <div class="input-container">
          <input type="password" ngModel required name="confirmPassword" autocomplete="new-password" #confirmPassword="ngModel" placeholder="Neues Kennwort bestätigen">
        </div>
        <div class="pseudo">
          <span *ngIf="showInputInformationConfirmPasswordInputEmpty" class="input-information">Bitte bestätigen Sie Ihr Passwort.</span>
          <span *ngIf="showInputInformationConfirmPasswordInputInvalid" class="input-information">Die Passwörter stimmen nicht überein.</span>
        </div>
      </div>

      <div class="continue-button-container">
        <button type="submit" class="continue-button">Passwort ändern</button>
      </div>
    </form>

  </div>

</div>


