.emoji-picker-container {
  position: absolute;
  bottom: 50px;
  z-index: 1000;
}

.no-messages-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 50px;
  left: 50px;
}

.name-img {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  bottom: 0;
  gap: 10px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
  h2 {
    margin: 0;
  }
}

.test{
  display: flex;
}

.dialog-participant{
  cursor: pointer;
  color: #797EF3;
  margin-left: 5px;
}

@media screen and (max-width: 400px) {
  .no-messages-container {
    left: 10px;
  }
}
