 <div class="header">
    <div class="active-channel">
        <div (click)="openChannelInfoDialog()"></div>
    </div>
    <div class="images">

        <div class="images-participants" (click)="openContactInfoDialog()" *ngFor="let user of filteredUsers">
            <img [src]='user?.photo' alt="">
            <h2>{{ user.username }} ( Du )</h2>
        </div>
        <div class="add-participants">
        </div>
    </div>
</div>

<div class="scrollbar test" #scrollContainer>
    <ng-container *ngFor="let message of messages">
        <div class="separator">
            <div class="separator-line"></div>
            <div class="separator-date">
                {{message.createdAt | timestamp: 'day' }}
            </div>
            <div class="separator-line"></div>
        </div>

        <div class="conversation-container">
            <img src="../../../assets/images/avatar.png" alt="">
            <div class="conversation">
                <div class="name-timestamp">
                    <h5 (click)="openContactInfoDialog()"><strong>
                            {{displayName(message.creator)}}</strong></h5>
                    {{message.createdAt | timestamp: 'time' }}Uhr
                </div>
                {{ message.message }}
                <ng-container *ngIf="message.image">
                    <img [src]='message.image' alt="">
                </ng-container>
                <div class="reply">
                    <a (click)="openThread(message)">
                        {{ message.replies ? message.replies.length + ' Antworten' : 'Jetzt Antworten' }}
                    </a>
                    <p>
                        {{ message.replies && message.replies.length ? (message.replies[message.replies.length -
                        1].createdAt | timestamp: 'time') + 'Uhr' : '' }}
                    </p>
                </div>


            </div>
        </div>
    </ng-container>
</div>
<div *ngIf="messages.length === 0">
  <div class="chat-information" *ngFor="let user of filteredUsers">
    <div class="images-participants" (click)="openMemberDialog()">
      <img [src]='user?.photo' alt="">
      <h2>{{ user.username }} ( Du )</h2>
    </div>
    <div class="chat-information-span">
      <span>Das ist dein privater Raum. Mache dir Notizen, liste To-dos auf oder bewahre Links und Dateien auf.</span>
    </div>
  </div>
</div>
<app-text-editor class="text-editor" [componentName]="'ownChat'" />
