.container {
  display: flex;
  flex-direction: column;
}

.container ::ng-deep .cdk-overlay-pane {
  margin-top: 0px !important;
}

.headline {
  margin: 3%;
}

form {
  width: 90%;
  display: flex;
  justify-content: center;
}

.example-chip-list {
  margin: auto 5%;
  width: 100% !important;
}

::shadow {
  // width: 100%;
  box-shadow: 0 4px 2px rgba(225, 225, 225, 0.5);
}

.channel {
  color: red;
}

.user-email {
  position: absolute;
  right: 2%;
}

::ng-deep .mat-chip-grid {
  margin-top: 30px !important;
}
