.header-parent-container {
  display: flex;
  justify-content: center;

  .start-page-header {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    max-width: 1440px;
    width: 1440px;

    .header-left {

      img {
         &:hover {
          cursor: pointer;
         }
      }
    }

    .header-right {
      display: flex;
      flex-direction: column;
      align-items: center;


      button {
        text-decoration: none;
        color: #797EF3;
        background-color: transparent;
        font-size: 18px;
        border: 1px solid transparent;
        border-radius: 25px;
        width: 160px;
        height: 40px;

        &:hover {
          cursor: pointer;
          border: 1px solid #797EF3;
          filter: brightness(1.3);
        }

      }
    }
  }
}

@media screen and (max-width: 850px) {

  .header-parent-container {

    .start-page-header {
      justify-content: center;
      align-items: center;

      .header-left {

        img {
          height: 50px;
        }
      }

      .header-right {
        display: none ;
      }
    }
  }
}
