.start-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;


    a {
      text-decoration: none;
      color: #797EF3;
    }
  }
}
