.start-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 45px;

  .header-left {

    img {
       &:hover {
        cursor: pointer;
       }
    }
  }

  .header-right {
    display: flex;
    flex-direction: column;
    align-items: center;


    button {
      text-decoration: none;
      color: #797EF3;
      background-color: transparent;
      font-size: 18px;
      border: 1px solid transparent;
      border-radius: 25px;
      width: 160px;
      height: 40px;

      &:hover {
        cursor: pointer;
        border: 1px solid #797EF3;
        filter: brightness(1.3);
      }

    }
  }
}
