/* You can add global styles to this file, and also import other style files */
body,
html {
  padding: 0;
  border: 0;
  margin: 0;
}

.background {
  background-color: rgba(236, 238, 254, 1);
}

@font-face {
  font-family: 'nunito-black';
  src: url('./assets/font/Nunito-Black.ttf');
}

@font-face {
  font-family: 'nunito-black-italic';
  src: url('./assets/font/Nunito-BlackItalic.ttf');
}

@font-face {
  font-family: 'nunito-bold';
  src: url('./assets/font/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'nunito-bold-italic';
  src: url('./assets/font/Nunito-BoldItalic.ttf');
}

@font-face {
  font-family: 'nunito-extra-bold';
  src: url('./assets/font/Nunito-ExtraBold.ttf');
}

@font-face {
  font-family: 'nunito-extra-bold-italic';
  src: url('./assets/font/Nunito-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'nunito-extra-light';
  src: url('./assets/font/Nunito-ExtraLight.ttf');
}

@font-face {
  font-family: 'nunito-extra-light-italic';
  src: url('./assets/font/Nunito-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'nunito-italic';
  src: url('./assets/font/Nunito-Italic.ttf');
}

@font-face {
  font-family: 'nunito-light';
  src: url('./assets/font/Nunito-Light.ttf');
}

@font-face {
  font-family: 'nunito-light-italic';
  src: url('./assets/font/Nunito-LightItalic.ttf');
}

@font-face {
  font-family: 'nunito-medium';
  src: url('./assets/font/Nunito-Medium.ttf');
}

@font-face {
  font-family: 'nunito-medium-italic';
  src: url('./assets/font/Nunito-MediumItalic.ttf');
}

@font-face {
  font-family: 'nunito';
  src: url('./assets/font/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'nunito-semi-bold';
  src: url('./assets/font/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'nunito-semi-bold-italic';
  src: url('./assets/font/Nunito-SemiBoldItalic.ttf');
}