<form (submit)="submit()" class="container">
    <div class="chat-input-container">
        <textarea id="textArea" cols="30" rows="10" placeholder="Nachricht an #Entwicklerteam" [(ngModel)]="message" [(ngModel)]="comment"
            name="message"></textarea>
        <div id="imageDisplay" style="min-height: 100px; border: 1px solid #ccc; padding: 10px;"></div>
        <div class="img-container">
            <div class="images">
                <div class="img">
                    <img src="../../../assets/images/add.png" alt="Add" (click)="triggerFileInput()">
                    <input type="file" accept="image/*" id="data-input" style="display: none;" #fileInput
                        (change)="customDataURL()">
                </div>
                <div class="chat-input-line"></div>
                <div class="img">
                    <img (click)="openEmojiMartPicker()" src="../../../assets/images/smiley.png" alt="Smiley">

                    <div *ngIf="openEmojiPicker">
                      <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart>
                    </div>
                </div>
                <div class="img">
                    <img src="../../../assets/images/atsign.png" alt="At Sign">
                </div>
            </div>
            <button type="submit"><img src="../../../assets/images/send.png" alt="Send"></button>
        </div>
    </div>
</form>
<!-- <emoji-mart set="apple"></emoji-mart>
<emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
<emoji-mart [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"></emoji-mart>
<emoji-mart
  [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
></emoji-mart> -->

